:root {
	--color-amber-50: 48deg 100% 96.078431%;
	--color-amber-100: 48deg 96.491228% 88.823529%;
	--color-amber-200: 48deg 96.638655% 76.666667%;
	--color-amber-300: 45.942857deg 96.685083% 64.509804%;
	--color-amber-400: 43.255814deg 96.412556% 56.27451%;
	--color-amber-500: 37.692308deg 92.125984% 50.196078%;
	--color-amber-600: 32.132701deg 94.618834% 43.72549%;
	--color-amber-700: 25.964912deg 90.47619% 37.058824%;
	--color-amber-800: 22.727273deg 82.5% 31.372549%;
	--color-amber-900: 21.714286deg 77.777778% 26.470588%;
	--color-amber-950: 20.909091deg 91.666667% 14.117647%;
}
