:root {
	--color-blue-50: 213.75deg 100% 96.862745%;
	--color-blue-100: 214.285714deg 94.594595% 92.745098%;
	--color-blue-200: 213.333333deg 96.923077% 87.254902%;
	--color-blue-300: 211.698113deg 96.363636% 78.431373%;
	--color-blue-400: 213.116883deg 93.902439% 67.843137%;
	--color-blue-500: 217.219251deg 91.219512% 59.803922%;
	--color-blue-600: 221.212121deg 83.193277% 53.333333%;
	--color-blue-700: 224.278075deg 76.326531% 48.039216%;
	--color-blue-800: 225.931034deg 70.731707% 40.196078%;
	--color-blue-900: 224.444444deg 64.285714% 32.941176%;
	--color-blue-950: 226.229508deg 57.009346% 20.980392%;
}
