:root {
	--color-cyan-50: 183.157895deg 100% 96.27451%;
	--color-cyan-100: 185.106383deg 95.918367% 90.392157%;
	--color-cyan-200: 186.206897deg 93.548387% 81.764706%;
	--color-cyan-300: 186.986301deg 92.405063% 69.019608%;
	--color-cyan-400: 187.941176deg 85.714286% 53.333333%;
	--color-cyan-500: 188.737864deg 94.495413% 42.745098%;
	--color-cyan-600: 191.647059deg 91.397849% 36.470588%;
	--color-cyan-700: 192.923077deg 82.278481% 30.980392%;
	--color-cyan-800: 194.375deg 69.565217% 27.058824%;
	--color-cyan-900: 196.363636deg 63.636364% 23.72549%;
	--color-cyan-950: 197deg 78.947368% 14.901961%;
}
