:root {
	--color-fuchsia-50: 289.090909deg 100% 97.843137%;
	--color-fuchsia-100: 286.956522deg 100% 95.490196%;
	--color-fuchsia-200: 288.26087deg 95.833333% 90.588235%;
	--color-fuchsia-300: 291.111111deg 93.103448% 82.941176%;
	--color-fuchsia-400: 292.03125deg 91.428571% 72.54902%;
	--color-fuchsia-500: 292.189349deg 84.079602% 60.588235%;
	--color-fuchsia-600: 293.410405deg 69.477912% 48.823529%;
	--color-fuchsia-700: 294.693878deg 72.413793% 39.803922%;
	--color-fuchsia-800: 295.423729deg 70.238095% 32.941176%;
	--color-fuchsia-900: 296.703297deg 63.636364% 28.039216%;
	--color-fuchsia-950: 296.756757deg 90.243902% 16.078431%;
}
