:root {
	--color-gray-50: 210deg 20% 98.039216%;
	--color-gray-100: 220deg 14.285714% 95.882353%;
	--color-gray-200: 220deg 13.043478% 90.980392%;
	--color-gray-300: 216deg 12.195122% 83.921569%;
	--color-gray-400: 217.894737deg 10.614525% 64.901961%;
	--color-gray-500: 220deg 8.93617% 46.078431%;
	--color-gray-600: 215deg 13.793103% 34.117647%;
	--color-gray-700: 216.923077deg 19.117647% 26.666667%;
	--color-gray-800: 215deg 27.906977% 16.862745%;
	--color-gray-900: 220.909091deg 39.285714% 10.980392%;
	--color-gray-950: 224deg 71.428571% 4.117647%;
}
