:root {
	--color-green-50: 138.461538deg 76.470588% 96.666667%;
	--color-green-100: 140.625deg 84.210526% 92.54902%;
	--color-green-200: 141deg 78.947368% 85.098039%;
	--color-green-300: 141.714286deg 76.642336% 73.137255%;
	--color-green-400: 141.891892deg 69.158879% 58.039216%;
	--color-green-500: 142.08589deg 70.562771% 45.294118%;
	--color-green-600: 142.12766deg 76.216216% 36.27451%;
	--color-green-700: 142.429907deg 71.812081% 29.215686%;
	--color-green-800: 142.78481deg 64.227642% 24.117647%;
	--color-green-900: 143.809524deg 61.165049% 20.196078%;
	--color-green-950: 144.878049deg 80.392157% 10%;
}
