:root {
	--color-indigo-50: 225.882353deg 100% 96.666667%;
	--color-indigo-100: 226.451613deg 100% 93.921569%;
	--color-indigo-200: 228deg 96.491228% 88.823529%;
	--color-indigo-300: 229.655172deg 93.548387% 81.764706%;
	--color-indigo-400: 234.453782deg 89.473684% 73.921569%;
	--color-indigo-500: 238.732394deg 83.529412% 66.666667%;
	--color-indigo-600: 243.396226deg 75.35545% 58.627451%;
	--color-indigo-700: 244.520548deg 57.936508% 50.588235%;
	--color-indigo-800: 243.652174deg 54.50237% 41.372549%;
	--color-indigo-900: 242.168675deg 47.428571% 34.313725%;
	--color-indigo-950: 243.75deg 47.058824% 20%;
}
