:root {
	--color-lime-50: 78.26087deg 92% 95.098039%;
	--color-lime-100: 79.591837deg 89.090909% 89.215686%;
	--color-lime-200: 80.869565deg 88.461538% 79.607843%;
	--color-lime-300: 81.971831deg 84.52381% 67.058824%;
	--color-lime-400: 82.711864deg 77.973568% 55.490196%;
	--color-lime-500: 83.736264deg 80.530973% 44.313725%;
	--color-lime-600: 84.8deg 85.227273% 34.509804%;
	--color-lime-700: 85.87156deg 78.417266% 27.254902%;
	--color-lime-800: 86.25deg 68.965517% 22.745098%;
	--color-lime-900: 87.619048deg 61.165049% 20.196078%;
	--color-lime-950: 89.268293deg 80.392157% 10%;
}
