:root {
	--color-neutral-50: 0deg 0% 98.039216%;
	--color-neutral-100: 0deg 0% 96.078431%;
	--color-neutral-200: 0deg 0% 89.803922%;
	--color-neutral-300: 0deg 0% 83.137255%;
	--color-neutral-400: 0deg 0% 63.921569%;
	--color-neutral-500: 0deg 0% 45.098039%;
	--color-neutral-600: 0deg 0% 32.156863%;
	--color-neutral-700: 0deg 0% 25.098039%;
	--color-neutral-800: 0deg 0% 14.901961%;
	--color-neutral-900: 0deg 0% 9.019608%;
	--color-neutral-950: 0deg 0% 3.921569%;
}
