:root {
	--color-orange-50: 33.333333deg 100% 96.470588%;
	--color-orange-100: 34.285714deg 100% 91.764706%;
	--color-orange-200: 32.142857deg 97.674419% 83.137255%;
	--color-orange-300: 30.656934deg 97.163121% 72.352941%;
	--color-orange-400: 27.015707deg 95.979899% 60.980392%;
	--color-orange-500: 24.581498deg 94.979079% 53.137255%;
	--color-orange-600: 20.540541deg 90.243902% 48.235294%;
	--color-orange-700: 17.472527deg 88.349515% 40.392157%;
	--color-orange-800: 15deg 79.069767% 33.72549%;
	--color-orange-900: 15.283019deg 74.647887% 27.843137%;
	--color-orange-950: 13deg 81.081081% 14.509804%;
}
