:root {
	--color-pink-50: 327.272727deg 73.333333% 97.058824%;
	--color-pink-100: 325.714286deg 77.777778% 94.705882%;
	--color-pink-200: 325.909091deg 84.615385% 89.803922%;
	--color-pink-300: 327.407407deg 87.096774% 81.764706%;
	--color-pink-400: 328.615385deg 85.526316% 70.196078%;
	--color-pink-500: 330.365854deg 81.188119% 60.392157%;
	--color-pink-600: 333.333333deg 71.428571% 50.588235%;
	--color-pink-700: 335.060241deg 77.570093% 41.960784%;
	--color-pink-800: 335.820896deg 74.444444% 35.294118%;
	--color-pink-900: 335.88785deg 69.032258% 30.392157%;
	--color-pink-950: 336.164384deg 83.908046% 17.058824%;
}
