:root {
	--color-purple-50: 270deg 100% 98.039216%;
	--color-purple-100: 268.695652deg 100% 95.490196%;
	--color-purple-200: 268.571429deg 100% 91.764706%;
	--color-purple-300: 269.189189deg 97.368421% 85.098039%;
	--color-purple-400: 270deg 95.238095% 75.294118%;
	--color-purple-500: 270.740741deg 91.011236% 65.098039%;
	--color-purple-600: 271.47541deg 81.333333% 55.882353%;
	--color-purple-700: 272.093023deg 71.666667% 47.058824%;
	--color-purple-800: 272.888889deg 67.164179% 39.411765%;
	--color-purple-900: 273.64486deg 65.644172% 31.960784%;
	--color-purple-950: 273.548387deg 86.915888% 20.980392%;
}
