:root {
	--color-red-50: 0deg 85.714286% 97.254902%;
	--color-red-100: 0deg 93.333333% 94.117647%;
	--color-red-200: 0deg 96.296296% 89.411765%;
	--color-red-300: 0deg 93.548387% 81.764706%;
	--color-red-400: 0deg 90.604027% 70.784314%;
	--color-red-500: 0deg 84.236453% 60.196078%;
	--color-red-600: 0deg 72.222222% 50.588235%;
	--color-red-700: 0deg 73.70892% 41.764706%;
	--color-red-800: 0deg 70% 35.294118%;
	--color-red-900: 0deg 62.820513% 30.588235%;
	--color-red-950: 0deg 74.683544% 15.490196%;
}
