:root {
	--color-rose-50: 355.714286deg 100% 97.254902%;
	--color-rose-100: 355.555556deg 100% 94.705882%;
	--color-rose-200: 352.653061deg 96.078431% 90%;
	--color-rose-300: 352.58427deg 95.698925% 81.764706%;
	--color-rose-400: 351.304348deg 94.520548% 71.372549%;
	--color-rose-500: 349.723757deg 89.162562% 60.196078%;
	--color-rose-600: 346.836735deg 77.165354% 49.803922%;
	--color-rose-700: 345.348837deg 82.692308% 40.784314%;
	--color-rose-800: 343.404255deg 79.661017% 34.705882%;
	--color-rose-900: 341.538462deg 75.483871% 30.392157%;
	--color-rose-950: 343.098592deg 87.654321% 15.882353%;
}
