:root {
	--color-sky-50: 204deg 100% 97.058824%;
	--color-sky-100: 204deg 93.75% 93.72549%;
	--color-sky-200: 200.597015deg 94.366197% 86.078431%;
	--color-sky-300: 199.370079deg 95.488722% 73.921569%;
	--color-sky-400: 198.4375deg 93.203883% 59.607843%;
	--color-sky-500: 198.630137deg 88.663968% 48.431373%;
	--color-sky-600: 200.406091deg 98.00995% 39.411765%;
	--color-sky-700: 201.265823deg 96.341463% 32.156863%;
	--color-sky-800: 200.952381deg 90% 27.45098%;
	--color-sky-900: 202.040816deg 80.327869% 23.921569%;
	--color-sky-950: 204deg 80.246914% 15.882353%;
}
