:root {
	--color-slate-50: 210deg 40% 98.039216%;
	--color-slate-100: 210deg 40% 96.078431%;
	--color-slate-200: 214.285714deg 31.818182% 91.372549%;
	--color-slate-300: 212.727273deg 26.829268% 83.921569%;
	--color-slate-400: 215deg 20.224719% 65.098039%;
	--color-slate-500: 215.384615deg 16.317992% 46.862745%;
	--color-slate-600: 215.294118deg 19.318182% 34.509804%;
	--color-slate-700: 215.294118deg 25% 26.666667%;
	--color-slate-800: 217.241379deg 32.58427% 17.45098%;
	--color-slate-900: 222.222222deg 47.368421% 11.176471%;
	--color-slate-950: 228.571429deg 84% 4.901961%;
}
