:root {
	--color-stone-50: 60deg 9.090909% 97.843137%;
	--color-stone-100: 60deg 4.761905% 95.882353%;
	--color-stone-200: 20deg 5.882353% 90%;
	--color-stone-300: 24deg 5.747126% 82.941176%;
	--color-stone-400: 24deg 5.434783% 63.921569%;
	--color-stone-500: 25deg 5.263158% 44.705882%;
	--color-stone-600: 33.333333deg 5.454545% 32.352941%;
	--color-stone-700: 30deg 6.25% 25.098039%;
	--color-stone-800: 12deg 6.493506% 15.098039%;
	--color-stone-900: 24deg 9.803922% 10%;
	--color-stone-950: 20deg 14.285714% 4.117647%;
}
