:root {
	--color-teal-50: 166.153846deg 76.470588% 96.666667%;
	--color-teal-100: 167.234043deg 85.454545% 89.215686%;
	--color-teal-200: 168.387097deg 83.783784% 78.235294%;
	--color-teal-300: 170.571429deg 76.923077% 64.313725%;
	--color-teal-400: 172.45509deg 66.007905% 50.392157%;
	--color-teal-500: 173.414634deg 80.392157% 40%;
	--color-teal-600: 174.666667deg 83.850932% 31.568627%;
	--color-teal-700: 175.339806deg 77.443609% 26.078431%;
	--color-teal-800: 176.103896deg 69.369369% 21.764706%;
	--color-teal-900: 175.932203deg 60.824742% 19.019608%;
	--color-teal-950: 178.604651deg 84.313725% 10%;
}
