:root {
	--color-violet-50: 250deg 100% 97.647059%;
	--color-violet-100: 251.428571deg 91.304348% 95.490196%;
	--color-violet-200: 250.5deg 95.238095% 91.764706%;
	--color-violet-300: 252.5deg 94.736842% 85.098039%;
	--color-violet-400: 255.135135deg 91.735537% 76.27451%;
	--color-violet-500: 258.311688deg 89.534884% 66.27451%;
	--color-violet-600: 262.122905deg 83.255814% 57.843137%;
	--color-violet-700: 263.389831deg 69.960474% 50.392157%;
	--color-violet-800: 263.355705deg 69.302326% 42.156863%;
	--color-violet-900: 263.5deg 67.41573% 34.901961%;
	--color-violet-950: 261.176471deg 72.649573% 22.941176%;
}
