:root {
	--color-yellow-50: 54.545455deg 91.666667% 95.294118%;
	--color-yellow-100: 54.915254deg 96.721311% 88.039216%;
	--color-yellow-200: 52.758621deg 98.305085% 76.862745%;
	--color-yellow-300: 50.43956deg 97.849462% 63.529412%;
	--color-yellow-400: 47.947598deg 95.8159% 53.137255%;
	--color-yellow-500: 45.39823deg 93.38843% 47.45098%;
	--color-yellow-600: 40.606061deg 96.116505% 40.392157%;
	--color-yellow-700: 35.454545deg 91.666667% 32.941176%;
	--color-yellow-800: 31.764706deg 80.952381% 28.823529%;
	--color-yellow-900: 28.421053deg 72.519084% 25.686275%;
	--color-yellow-950: 26deg 83.333333% 14.117647%;
}
