:root {
	--color-zinc-50: 0deg 0% 98.039216%;
	--color-zinc-100: 240deg 4.761905% 95.882353%;
	--color-zinc-200: 240deg 5.882353% 90%;
	--color-zinc-300: 240deg 4.878049% 83.921569%;
	--color-zinc-400: 240deg 5.027933% 64.901961%;
	--color-zinc-500: 240deg 3.829787% 46.078431%;
	--color-zinc-600: 240deg 5.202312% 33.921569%;
	--color-zinc-700: 240deg 5.263158% 26.078431%;
	--color-zinc-800: 240deg 3.703704% 15.882353%;
	--color-zinc-900: 240deg 5.882353% 10%;
	--color-zinc-950: 240deg 10% 3.921569%;
}
