:root {
	--color-amberA-1: 40deg 100% 37.647059% / 0.015686;
	--color-amberA-2: 51.393443deg 100% 47.843137% / 0.086275;
	--color-amberA-3: 52.235294deg 100% 50% / 0.239216;
	--color-amberA-4: 49.882353deg 100% 50% / 0.388235;
	--color-amberA-5: 50.080645deg 100% 48.627451% / 0.533333;
	--color-amberA-6: 46.410256deg 100% 45.882353% / 0.54902;
	--color-amberA-7: 42.272727deg 100% 43.137255% / 0.615686;
	--color-amberA-8: 37.981651deg 100% 42.745098% / 0.788235;
	--color-amberA-9: 42.117647deg 100% 50% / 0.760784;
	--color-amberA-10: 42.117647deg 100% 50% / 0.905882;
	--color-amberA-11: 35.087719deg 100% 33.529412% / 1;
	--color-amberA-12: 24.230769deg 100% 10.196078% / 0.866667;
}
:root.dark {
	--color-amberA-1: 15.652174deg 100% 45.098039% / 0.023529;
	--color-amberA-2: 36.758893deg 100% 49.607843% / 0.05098;
	--color-amberA-3: 31.2deg 100% 49.019608% / 0.133333;
	--color-amberA-4: 30.952381deg 100% 49.411765% / 0.196078;
	--color-amberA-5: 32.964427deg 100% 49.607843% / 0.254902;
	--color-amberA-6: 36.758893deg 100% 49.607843% / 0.317647;
	--color-amberA-7: 36.880734deg 100% 57.254902% / 0.403922;
	--color-amberA-8: 35.940594deg 100% 60.392157% / 0.529412;
	--color-amberA-9: 42.061856deg 100% 61.960784% / 1;
	--color-amberA-10: 49.959184deg 100% 51.960784% / 1;
	--color-amberA-11: 46.351931deg 100% 54.313725% / 1;
	--color-amberA-12: 41.052632deg 100% 85.098039% / 1;
}
