:root {
	--color-amber-1: 40deg 60% 99.019608%;
	--color-amber-2: 51.428571deg 91.304348% 95.490196%;
	--color-amber-3: 52.131148deg 100% 88.039216%;
	--color-amber-4: 49.69697deg 100% 80.588235%;
	--color-amber-5: 50deg 94.285714% 72.54902%;
	--color-amber-6: 46.40625deg 84.210526% 70.196078%;
	--color-amber-7: 42.222222deg 75.418994% 64.901961%;
	--color-amber-8: 38.023256deg 74.782609% 54.901961%;
	--color-amber-9: 42.061856deg 100% 61.960784%;
	--color-amber-10: 42.077922deg 100% 54.705882%;
	--color-amber-11: 35.087719deg 100% 33.529412%;
	--color-amber-12: 24deg 39.823009% 22.156863%;
}
:root.dark {
	--color-amber-1: 36deg 29.411765% 6.666667%;
	--color-amber-2: 38.571429deg 31.818182% 8.627451%;
	--color-amber-3: 36deg 71.428571% 10.980392%;
	--color-amber-4: 37.142857deg 100% 12.352941%;
	--color-amber-5: 37.402597deg 100% 15.098039%;
	--color-amber-6: 38.62069deg 89.690722% 19.019608%;
	--color-amber-7: 36.818182deg 63.768116% 27.058824%;
	--color-amber-8: 35.88785deg 59.776536% 35.098039%;
	--color-amber-9: 42.061856deg 100% 61.960784%;
	--color-amber-10: 49.959184deg 100% 51.960784%;
	--color-amber-11: 46.351931deg 100% 54.313725%;
	--color-amber-12: 41.052632deg 100% 85.098039%;
}
