:root {
	--color-blackA-1: 0deg 0% 0% / 0.05;
	--color-blackA-2: 0deg 0% 0% / 0.1;
	--color-blackA-3: 0deg 0% 0% / 0.15;
	--color-blackA-4: 0deg 0% 0% / 0.2;
	--color-blackA-5: 0deg 0% 0% / 0.3;
	--color-blackA-6: 0deg 0% 0% / 0.4;
	--color-blackA-7: 0deg 0% 0% / 0.5;
	--color-blackA-8: 0deg 0% 0% / 0.6;
	--color-blackA-9: 0deg 0% 0% / 0.7;
	--color-blackA-10: 0deg 0% 0% / 0.8;
	--color-blackA-11: 0deg 0% 0% / 0.9;
	--color-blackA-12: 0deg 0% 0% / 0.95;
}
