:root {
	--color-blue-1: 210deg 100% 99.215686%;
	--color-blue-2: 207.272727deg 100% 97.843137%;
	--color-blue-3: 205deg 92.307692% 94.901961%;
	--color-blue-4: 202.857143deg 100% 91.764706%;
	--color-blue-5: 205.57377deg 100% 88.039216%;
	--color-blue-6: 207deg 93.023256% 83.137255%;
	--color-blue-7: 206.538462deg 85.245902% 76.078431%;
	--color-blue-8: 205.655172deg 81.920904% 65.294118%;
	--color-blue-9: 206.117647deg 100% 50%;
	--color-blue-10: 206.553191deg 95.918367% 48.039216%;
	--color-blue-11: 207.979275deg 88.127854% 42.941176%;
	--color-blue-12: 216.144578deg 70.940171% 22.941176%;
}
:root.dark {
	--color-blue-1: 214.736842deg 42.222222% 8.823529%;
	--color-blue-2: 218.181818deg 39.285714% 10.980392%;
	--color-blue-3: 212.068966deg 69.047619% 16.470588%;
	--color-blue-4: 208.77551deg 100% 19.215686%;
	--color-blue-5: 206.896552deg 100% 22.745098%;
	--color-blue-6: 209.243697deg 78.807947% 29.607843%;
	--color-blue-7: 210.952381deg 66.315789% 37.254902%;
	--color-blue-8: 211.006711deg 65.065502% 44.901961%;
	--color-blue-9: 206.117647deg 100% 50%;
	--color-blue-10: 209.693878deg 100% 61.568627%;
	--color-blue-11: 209.79021deg 100% 71.960784%;
	--color-blue-12: 204.590164deg 100% 88.039216%;
}
