:root {
	--color-blueA-1: 209.882353deg 100% 50% / 0.015686;
	--color-blueA-2: 207.058824deg 100% 50% / 0.043137;
	--color-blueA-3: 204.979592deg 100% 48.039216% / 0.098039;
	--color-blueA-4: 202.823529deg 100% 50% / 0.164706;
	--color-blueA-5: 205.411765deg 100% 50% / 0.239216;
	--color-blueA-6: 206.829268deg 100% 48.235294% / 0.32549;
	--color-blueA-7: 206.553191deg 100% 46.078431% / 0.443137;
	--color-blueA-8: 205.565217deg 100% 45.098039% / 0.631373;
	--color-blueA-9: 206.117647deg 100% 50% / 1;
	--color-blueA-10: 206.5deg 100% 47.058824% / 0.980392;
	--color-blueA-11: 207.783251deg 100% 39.803922% / 0.94902;
	--color-blueA-12: 216.404494deg 100% 17.45098% / 0.933333;
}
:root.dark {
	--color-blueA-1: 220.909091deg 100% 47.45098% / 0.066667;
	--color-blueA-2: 218.205128deg 96.694215% 52.54902% / 0.094118;
	--color-blueA-3: 212deg 100% 50% / 0.227451;
	--color-blueA-4: 212.470588deg 100% 50% / 0.341176;
	--color-blueA-5: 209.407115deg 100% 49.607843% / 0.419608;
	--color-blueA-6: 209.243697deg 98.347107% 52.54902% / 0.498039;
	--color-blueA-7: 210.849057deg 99.065421% 58.039216% / 0.596078;
	--color-blueA-8: 210.873786deg 99.038462% 59.215686% / 0.72549;
	--color-blueA-9: 206.117647deg 100% 50% / 1;
	--color-blueA-10: 209.693878deg 100% 61.568627% / 1;
	--color-blueA-11: 209.79021deg 100% 71.960784% / 1;
	--color-blueA-12: 204.590164deg 100% 88.039216% / 1;
}
