:root {
	--color-bronzeA-1: 0deg 100% 16.666667% / 0.011765;
	--color-bronzeA-2: 15deg 100% 40% / 0.039216;
	--color-bronzeA-3: 15.205479deg 100% 28.627451% / 0.082353;
	--color-bronzeA-4: 18.75deg 100% 25.098039% / 0.12549;
	--color-bronzeA-5: 18.103448deg 100% 22.745098% / 0.172549;
	--color-bronzeA-6: 18.782609deg 100% 22.54902% / 0.227451;
	--color-bronzeA-7: 17.222222deg 100% 21.176471% / 0.298039;
	--color-bronzeA-8: 16.31068deg 100% 20.196078% / 0.4;
	--color-bronzeA-9: 18.352941deg 100% 16.666667% / 0.552941;
	--color-bronzeA-10: 16.578947deg 100% 14.901961% / 0.592157;
	--color-bronzeA-11: 14.754098deg 100% 11.960784% / 0.670588;
	--color-bronzeA-12: 12.413793deg 100% 5.686275% / 0.831373;
}
:root.dark {
	--color-bronzeA-1: 4.880383deg 100% 40.980392% / 0.015686;
	--color-bronzeA-2: 24.339623deg 92.982456% 77.647059% / 0.047059;
	--color-bronzeA-3: 20deg 86.842105% 85.098039% / 0.090196;
	--color-bronzeA-4: 20.294118deg 87.179487% 84.705882% / 0.133333;
	--color-bronzeA-5: 16.451613deg 100% 87.843137% / 0.176471;
	--color-bronzeA-6: 16.190476deg 100% 87.647059% / 0.235294;
	--color-bronzeA-7: 15.737705deg 93.846154% 87.254902% / 0.309804;
	--color-bronzeA-8: 17.586207deg 100% 88.627451% / 0.396078;
	--color-bronzeA-9: 17.692308deg 97.5% 84.313725% / 0.607843;
	--color-bronzeA-10: 17.260274deg 97.333333% 85.294118% / 0.662745;
	--color-bronzeA-11: 17.894737deg 100% 88.823529% / 0.819608;
	--color-bronzeA-12: 21.818182deg 100% 95.686275% / 0.92549;
}
