:root {
	--color-brownA-1: 30deg 100% 33.333333% / 0.011765;
	--color-brownA-2: 30deg 100% 33.333333% / 0.035294;
	--color-brownA-3: 28.125deg 100% 31.372549% / 0.094118;
	--color-brownA-4: 28.645161deg 100% 30.392157% / 0.14902;
	--color-brownA-5: 29.056604deg 100% 31.176471% / 0.207843;
	--color-brownA-6: 29.25deg 100% 31.372549% / 0.282353;
	--color-brownA-7: 28.711656deg 100% 31.960784% / 0.376471;
	--color-brownA-8: 27.924528deg 100% 31.176471% / 0.505882;
	--color-brownA-9: 27.692308deg 100% 25.490196% / 0.654902;
	--color-brownA-10: 26.842105deg 100% 22.352941% / 0.67451;
	--color-brownA-11: 24.146341deg 100% 16.078431% / 0.72549;
	--color-brownA-12: 18deg 100% 3.921569% / 0.819608;
}
:root.dark {
	--color-brownA-1: 7.034483deg 100% 28.431373% / 0.007843;
	--color-brownA-2: 19.84252deg 94.074074% 73.529412% / 0.047059;
	--color-brownA-3: 21.964286deg 94.915254% 76.862745% / 0.098039;
	--color-brownA-4: 26.017699deg 93.38843% 76.27451% / 0.141176;
	--color-brownA-5: 24.521739deg 95.041322% 76.27451% / 0.192157;
	--color-brownA-6: 25.932203deg 96.721311% 76.078431% / 0.254902;
	--color-brownA-7: 25.714286deg 100% 76.666667% / 0.337255;
	--color-brownA-8: 27.5deg 100% 76.470588% / 0.45098;
	--color-brownA-9: 27.44186deg 98.473282% 74.313725% / 0.658824;
	--color-brownA-10: 27.652174deg 100% 77.45098% / 0.701961;
	--color-brownA-11: 27.857143deg 97.674419% 83.137255% / 0.85098;
	--color-brownA-12: 34.285714deg 95.454545% 91.372549% / 0.94902;
}
