:root {
	--color-brown-1: 30deg 50% 99.215686%;
	--color-brown-2: 30deg 50% 97.647059%;
	--color-brown-3: 28deg 45.454545% 93.529412%;
	--color-brown-4: 28.695652deg 43.396226% 89.607843%;
	--color-brown-5: 29.090909deg 45.205479% 85.686275%;
	--color-brown-6: 29.333333deg 45.454545% 80.588235%;
	--color-brown-7: 28.52459deg 46.564885% 74.313725%;
	--color-brown-8: 27.75deg 44.94382% 65.098039%;
	--color-brown-9: 27.529412deg 34.136546% 51.176471%;
	--color-brown-10: 26.493506deg 31.687243% 47.647059%;
	--color-brown-11: 24.40678deg 29.648241% 39.019608%;
	--color-brown-12: 18.75deg 14.814815% 21.176471%;
}
:root.dark {
	--color-brown-1: 40deg 9.090909% 6.470588%;
	--color-brown-2: 20deg 12% 9.803922%;
	--color-brown-3: 21.818182deg 15.942029% 13.529412%;
	--color-brown-4: 26.25deg 19.047619% 16.470588%;
	--color-brown-5: 24.545455deg 21.568627% 20%;
	--color-brown-6: 26deg 24.193548% 24.313725%;
	--color-brown-7: 25.5deg 25.974026% 30.196078%;
	--color-brown-8: 27.777778deg 27.835052% 38.039216%;
	--color-brown-9: 27.529412deg 34.136546% 51.176471%;
	--color-brown-10: 27.407407deg 36.32287% 56.27451%;
	--color-brown-11: 27.887324deg 49.65035% 71.960784%;
	--color-brown-12: 34.5deg 60.606061% 87.058824%;
}
