:root {
	--color-crimsonA-1: 340deg 100% 50% / 0.011765;
	--color-crimsonA-2: 342.857143deg 100% 43.921569% / 0.031373;
	--color-crimsonA-3: 340.705882deg 100% 50% / 0.086275;
	--color-crimsonA-4: 340.403226deg 100% 48.627451% / 0.137255;
	--color-crimsonA-5: 339.30131deg 100% 44.901961% / 0.192157;
	--color-crimsonA-6: 338.365385deg 100% 40.784314% / 0.254902;
	--color-crimsonA-7: 337.696335deg 100% 37.45098% / 0.32549;
	--color-crimsonA-8: 335.604396deg 100% 35.686275% / 0.423529;
	--color-crimsonA-9: 335.840708deg 100% 44.313725% / 0.760784;
	--color-crimsonA-10: 336deg 100% 42.156863% / 0.796078;
	--color-crimsonA-11: 335.816327deg 100% 38.431373% / 0.886275;
	--color-crimsonA-12: 332.53012deg 100% 16.27451% / 0.913725;
}
:root.dark {
	--color-crimsonA-1: 337.433628deg 91.129032% 51.372549% / 0.035294;
	--color-crimsonA-2: 336.923077deg 88.235294% 56.666667% / 0.066667;
	--color-crimsonA-3: 332.54717deg 99.065421% 58.039216% / 0.164706;
	--color-crimsonA-4: 330.517241deg 98.305085% 53.72549% / 0.254902;
	--color-crimsonA-5: 330.841121deg 98.165138% 57.254902% / 0.317647;
	--color-crimsonA-6: 333.405405deg 98.930481% 63.333333% / 0.388235;
	--color-crimsonA-7: 335deg 97.674419% 66.27451% / 0.498039;
	--color-crimsonA-8: 336.441718deg 98.787879% 67.647059% / 0.670588;
	--color-crimsonA-9: 335.873016deg 98.95288% 62.54902% / 0.909804;
	--color-crimsonA-10: 338.343195deg 100% 66.862745% / 0.929412;
	--color-crimsonA-11: 345.137615deg 100% 78.627451% / 1;
	--color-crimsonA-12: 330deg 100% 91.764706% / 0.992157;
}
