:root {
	--color-crimson-1: 340deg 100% 99.411765%;
	--color-crimson-2: 342.857143deg 77.777778% 98.235294%;
	--color-crimson-3: 340.909091deg 100% 95.686275%;
	--color-crimson-4: 340.588235deg 94.444444% 92.941176%;
	--color-crimson-5: 339.545455deg 81.481481% 89.411765%;
	--color-crimson-6: 338.490566deg 68.831169% 84.901961%;
	--color-crimson-7: 337.741935deg 59.615385% 79.607843%;
	--color-crimson-8: 335.844156deg 55.395683% 72.745098%;
	--color-crimson-9: 335.930233deg 79.62963% 57.647059%;
	--color-crimson-10: 336.140351deg 72.765957% 53.921569%;
	--color-crimson-11: 335.862069deg 75% 45.490196%;
	--color-crimson-12: 332.368421deg 63.333333% 23.529412%;
}
:root.dark {
	--color-crimson-1: 337.5deg 19.047619% 8.235294%;
	--color-crimson-2: 336.923077deg 25.490196% 10%;
	--color-crimson-3: 332.571429deg 45.454545% 15.098039%;
	--color-crimson-4: 330.508475deg 62.105263% 18.627451%;
	--color-crimson-5: 330.882353deg 58.62069% 22.745098%;
	--color-crimson-6: 333.333333deg 49.315068% 28.627451%;
	--color-crimson-7: 335deg 45.16129% 36.470588%;
	--color-crimson-8: 336.330275deg 44.855967% 47.647059%;
	--color-crimson-9: 335.930233deg 79.62963% 57.647059%;
	--color-crimson-10: 338.216561deg 82.198953% 62.54902%;
	--color-crimson-11: 345.137615deg 100% 78.627451%;
	--color-crimson-12: 330deg 91.304348% 90.980392%;
}
