:root {
	--color-cyanA-1: 195deg 100% 40% / 0.019608;
	--color-cyanA-2: 186.779661deg 100% 34.705882% / 0.05098;
	--color-cyanA-3: 184.30622deg 100% 40.980392% / 0.129412;
	--color-cyanA-4: 186.792453deg 100% 41.568627% / 0.207843;
	--color-cyanA-5: 187.093596deg 99.02439% 40.196078% / 0.290196;
	--color-cyanA-6: 188.082902deg 100% 37.843137% / 0.384314;
	--color-cyanA-7: 188.983957deg 100% 36.666667% / 0.509804;
	--color-cyanA-8: 189.0625deg 100% 37.647059% / 0.760784;
	--color-cyanA-9: 191.155779deg 100% 39.019608% / 1;
	--color-cyanA-10: 191.47541deg 100% 35.882353% / 0.972549;
	--color-cyanA-11: 192deg 100% 28.431373% / 0.937255;
	--color-cyanA-12: 191.612903deg 100% 12.156863% / 0.94902;
}
:root.dark {
	--color-cyanA-1: 204.777328deg 100% 48.431373% / 0.039216;
	--color-cyanA-2: 198.75deg 98.360656% 47.843137% / 0.066667;
	--color-cyanA-3: 194.940711deg 100% 49.607843% / 0.156863;
	--color-cyanA-4: 196.235294deg 100% 50% / 0.231373;
	--color-cyanA-5: 194.940711deg 100% 49.607843% / 0.301961;
	--color-cyanA-6: 192.806324deg 100% 49.607843% / 0.368627;
	--color-cyanA-7: 192.765957deg 100% 53.921569% / 0.458824;
	--color-cyanA-8: 192.10084deg 100% 53.333333% / 0.584314;
	--color-cyanA-9: 191.294118deg 100% 50% / 0.764706;
	--color-cyanA-10: 191.44186deg 100% 57.843137% / 0.803922;
	--color-cyanA-11: 190.116279deg 98.850575% 65.882353% / 0.898039;
	--color-cyanA-12: 189.850746deg 97.101449% 86.470588% / 0.968627;
}
