:root {
	--color-cyan-1: 195deg 66.666667% 98.823529%;
	--color-cyan-2: 186.666667deg 52.941176% 96.666667%;
	--color-cyan-3: 184.444444deg 69.230769% 92.352941%;
	--color-cyan-4: 186.818182deg 70.967742% 87.843137%;
	--color-cyan-5: 187.118644deg 66.292135% 82.54902%;
	--color-cyan-6: 188.108108deg 60.655738% 76.078431%;
	--color-cyan-7: 188.842105deg 57.575758% 67.647059%;
	--color-cyan-8: 189.041096deg 60.330579% 52.54902%;
	--color-cyan-9: 191.155779deg 100% 39.019608%;
	--color-cyan-10: 191.460674deg 92.708333% 37.647059%;
	--color-cyan-11: 191.911765deg 80.952381% 32.941176%;
	--color-cyan-12: 192.20339deg 69.411765% 16.666667%;
}
:root.dark {
	--color-cyan-1: 196deg 40.540541% 7.254902%;
	--color-cyan-2: 198.75deg 33.333333% 9.411765%;
	--color-cyan-3: 193.043478deg 74.193548% 12.156863%;
	--color-cyan-4: 193.333333deg 100% 14.117647%;
	--color-cyan-5: 192.954545deg 100% 17.254902%;
	--color-cyan-6: 192deg 92.592593% 21.176471%;
	--color-cyan-7: 192.777778deg 75% 28.235294%;
	--color-cyan-8: 192.086331deg 80.346821% 33.921569%;
	--color-cyan-9: 191.155779deg 100% 39.019608%;
	--color-cyan-10: 191.445087deg 71.193416% 47.647059%;
	--color-cyan-11: 190.12987deg 75.490196% 60%;
	--color-cyan-12: 190.153846deg 80.246914% 84.117647%;
}
