:root {
	--color-goldA-1: 60deg 100% 16.666667% / 0.011765;
	--color-goldA-2: 52.738854deg 100% 30.784314% / 0.05098;
	--color-goldA-3: 49.230769deg 100% 22.941176% / 0.094118;
	--color-goldA-4: 43.738318deg 100% 20.980392% / 0.141176;
	--color-goldA-5: 43.75deg 100% 18.823529% / 0.188235;
	--color-goldA-6: 40.8deg 100% 19.607843% / 0.25098;
	--color-goldA-7: 40deg 100% 19.411765% / 0.333333;
	--color-goldA-8: 36.969697deg 100% 19.411765% / 0.447059;
	--color-goldA-9: 36.144578deg 100% 16.27451% / 0.603922;
	--color-goldA-10: 36.986301deg 100% 14.313725% / 0.631373;
	--color-goldA-11: 36.666667deg 100% 10.588235% / 0.705882;
	--color-goldA-12: 37.894737deg 100% 3.72549% / 0.831373;
}
:root.dark {
	--color-goldA-1: 60deg 79.012346% 31.764706% / 0.007843;
	--color-goldA-2: 45deg 88.461538% 79.607843% / 0.043137;
	--color-goldA-3: 48.196721deg 81.333333% 85.294118% / 0.082353;
	--color-goldA-4: 42.711864deg 100% 88.431373% / 0.117647;
	--color-goldA-5: 42deg 96.774194% 87.843137% / 0.164706;
	--color-goldA-6: 37.647059deg 96.226415% 89.607843% / 0.215686;
	--color-goldA-7: 38.4deg 100% 90.196078% / 0.282353;
	--color-goldA-8: 37.647059deg 92.727273% 89.215686% / 0.372549;
	--color-goldA-9: 35.730337deg 100% 82.54902% / 0.564706;
	--color-goldA-10: 36.153846deg 97.5% 84.313725% / 0.615686;
	--color-goldA-11: 35.357143deg 96.551724% 88.627451% / 0.784314;
	--color-goldA-12: 35.294118deg 89.473684% 96.27451% / 0.905882;
}
