:root {
	--color-gold-1: 60deg 20% 99.019608%;
	--color-gold-2: 52.5deg 44.444444% 96.470588%;
	--color-gold-3: 49.090909deg 29.72973% 92.745098%;
	--color-gold-4: 44deg 26.315789% 88.823529%;
	--color-gold-5: 43.333333deg 23.076923% 84.705882%;
	--color-gold-6: 40.8deg 24.271845% 79.803922%;
	--color-gold-7: 40deg 24.087591% 73.137255%;
	--color-gold-8: 36.818182deg 23.913043% 63.921569%;
	--color-gold-9: 36deg 19.84127% 49.411765%;
	--color-gold-10: 36.521739deg 19.65812% 45.882353%;
	--color-gold-11: 36.315789deg 20.212766% 36.862745%;
	--color-gold-12: 37.5deg 15.686275% 20%;
}
:root.dark {
	--color-gold-1: 60deg 2.857143% 6.862745%;
	--color-gold-2: 45deg 8% 9.803922%;
	--color-gold-3: 48deg 7.462687% 13.137255%;
	--color-gold-4: 42.857143deg 8.433735% 16.27451%;
	--color-gold-5: 42deg 9.803922% 20%;
	--color-gold-6: 38.181818deg 8.8% 24.509804%;
	--color-gold-7: 38.571429deg 9.090909% 30.196078%;
	--color-gold-8: 37.894737deg 9.947644% 37.45098%;
	--color-gold-9: 36deg 19.84127% 49.411765%;
	--color-gold-10: 36.25deg 20.689655% 54.509804%;
	--color-gold-11: 35.454545deg 29.72973% 70.980392%;
	--color-gold-12: 36deg 24.590164% 88.039216%;
}
