:root {
	--color-grass-1: 120deg 60% 99.019608%;
	--color-grass-2: 120deg 42.857143% 97.254902%;
	--color-grass-3: 120deg 41.935484% 93.921569%;
	--color-grass-4: 122.608696deg 45.098039% 90%;
	--color-grass-5: 121.935484deg 40.25974% 84.901961%;
	--color-grass-6: 124.186047deg 38.738739% 78.235294%;
	--color-grass-7: 126.206897deg 37.179487% 69.411765%;
	--color-grass-8: 130.588235deg 38.116592% 56.27451%;
	--color-grass-9: 131.134021deg 40.92827% 46.470588%;
	--color-grass-10: 130.967742deg 42.857143% 42.54902%;
	--color-grass-11: 132.142857deg 50% 32.941176%;
	--color-grass-12: 130.714286deg 30.434783% 18.039216%;
}
:root.dark {
	--color-grass-1: 145.714286deg 20% 6.862745%;
	--color-grass-2: 130deg 13.043478% 9.019608%;
	--color-grass-3: 132deg 21.73913% 13.529412%;
	--color-grass-4: 134.482759deg 33.333333% 17.058824%;
	--color-grass-5: 133.714286deg 32.110092% 21.372549%;
	--color-grass-6: 132.857143deg 31.818182% 25.882353%;
	--color-grass-7: 132.244898deg 31.210191% 30.784314%;
	--color-grass-8: 131.186441deg 32.240437% 35.882353%;
	--color-grass-9: 131.134021deg 40.92827% 46.470588%;
	--color-grass-10: 131.25deg 38.709677% 51.372549%;
	--color-grass-11: 131.368421deg 50.26455% 62.941176%;
	--color-grass-12: 120deg 60.526316% 85.098039%;
}
