:root {
	--color-grassA-1: 120deg 100% 37.647059% / 0.015686;
	--color-grassA-2: 120deg 100% 30% / 0.039216;
	--color-grassA-3: 120deg 100% 29.607843% / 0.086275;
	--color-grassA-4: 122.641509deg 100% 31.176471% / 0.145098;
	--color-grassA-5: 122.040816deg 100% 28.823529% / 0.211765;
	--color-grassA-6: 124.195804deg 100% 28.039216% / 0.301961;
	--color-grassA-7: 126.086957deg 98.571429% 27.45098% / 0.419608;
	--color-grassA-8: 130.638298deg 100% 27.647059% / 0.603922;
	--color-grassA-9: 131.19403deg 100% 26.27451% / 0.72549;
	--color-grassA-10: 131.219512deg 100% 24.117647% / 0.756863;
	--color-grassA-11: 131.881188deg 100% 19.803922% / 0.835294;
	--color-grassA-12: 131.25deg 100% 6.27451% / 0.87451;
}
:root.dark {
	--color-grassA-1: 124.864865deg 100% 43.529412% / 0.019608;
	--color-grassA-2: 130.196078deg 90.532544% 66.862745% / 0.039216;
	--color-grassA-3: 131.830986deg 98.611111% 71.764706% / 0.105882;
	--color-grassA-4: 134.642857deg 100% 67.058824% / 0.172549;
	--color-grassA-5: 133.907285deg 100% 70.392157% / 0.231373;
	--color-grassA-6: 132.676056deg 100% 72.156863% / 0.294118;
	--color-grassA-7: 132.089552deg 97.101449% 72.941176% / 0.364706;
	--color-grassA-8: 131.19403deg 97.101449% 72.941176% / 0.439216;
	--color-grassA-9: 131.298701deg 100% 69.803922% / 0.631373;
	--color-grassA-10: 131.489362deg 100% 72.352941% / 0.682353;
	--color-grassA-11: 131.186441deg 100% 76.862745% / 0.803922;
	--color-grassA-12: 120deg 100% 90.392157% / 0.937255;
}
