:root {
	--color-green-1: 140deg 60% 99.019608%;
	--color-green-2: 137.142857deg 46.666667% 97.058824%;
	--color-green-3: 138.75deg 47.058824% 93.333333%;
	--color-green-4: 140deg 49.090909% 89.215686%;
	--color-green-5: 141.666667deg 43.902439% 83.921569%;
	--color-green-6: 143.75deg 41.37931% 77.254902%;
	--color-green-7: 146.25deg 39.506173% 68.235294%;
	--color-green-8: 150.638298deg 40.17094% 54.117647%;
	--color-green-9: 151.034483deg 54.716981% 41.568627%;
	--color-green-10: 151.891892deg 56.345178% 38.627451%;
	--color-green-11: 153.673469deg 59.756098% 32.156863%;
	--color-green-12: 155.294118deg 40.47619% 16.470588%;
}
:root.dark {
	--color-green-1: 154.285714deg 20% 6.862745%;
	--color-green-2: 153.333333deg 20% 8.823529%;
	--color-green-3: 152.307692deg 40.625% 12.54902%;
	--color-green-4: 154.285714deg 55.263158% 14.901961%;
	--color-green-5: 153.6deg 52.083333% 18.823529%;
	--color-green-6: 152.727273deg 46.218487% 23.333333%;
	--color-green-7: 151.875deg 44.444444% 28.235294%;
	--color-green-8: 151.168831deg 45.02924% 33.529412%;
	--color-green-9: 151.034483deg 54.716981% 41.568627%;
	--color-green-10: 151.2deg 55.066079% 44.509804%;
	--color-green-11: 150.980392deg 65.106383% 53.921569%;
	--color-green-12: 144.375deg 69.565217% 81.960784%;
}
