:root {
	--color-greenA-1: 140deg 100% 37.647059% / 0.015686;
	--color-greenA-2: 137.300613deg 100% 31.960784% / 0.043137;
	--color-greenA-3: 138.658537deg 100% 32.156863% / 0.098039;
	--color-greenA-4: 140deg 100% 32.941176% / 0.160784;
	--color-greenA-5: 141.677419deg 98.726115% 30.784314% / 0.231373;
	--color-greenA-6: 144deg 100% 29.411765% / 0.321569;
	--color-greenA-7: 146.482759deg 100% 28.431373% / 0.443137;
	--color-greenA-8: 150.821918deg 100% 28.627451% / 0.643137;
	--color-greenA-9: 151.048951deg 100% 28.039216% / 0.811765;
	--color-greenA-10: 151.791045deg 100% 26.27451% / 0.831373;
	--color-greenA-11: 153.451327deg 100% 22.156863% / 0.870588;
	--color-greenA-12: 154.736842deg 100% 7.45098% / 0.901961;
}
:root.dark {
	--color-greenA-1: 138.648649deg 100% 43.529412% / 0.019608;
	--color-greenA-2: 153.461538deg 94.545455% 56.862745% / 0.043137;
	--color-greenA-3: 152.307692deg 100% 56.666667% / 0.117647;
	--color-greenA-4: 154.285714deg 100% 53.333333% / 0.176471;
	--color-greenA-5: 153.679245deg 100% 58.431373% / 0.235294;
	--color-greenA-6: 152.727273deg 100% 63.333333% / 0.294118;
	--color-greenA-7: 151.907514deg 97.740113% 65.294118% / 0.368627;
	--color-greenA-8: 151.22807deg 100% 66.470588% / 0.45098;
	--color-greenA-9: 150.802139deg 100% 63.333333% / 0.619608;
	--color-greenA-10: 151.122995deg 98.941799% 62.941176% / 0.670588;
	--color-greenA-11: 150.978261deg 98.924731% 63.529412% / 0.831373;
	--color-greenA-12: 144.705882deg 100% 86.666667% / 0.941176;
}
