:root {
	--color-indigo-1: 240deg 33.333333% 99.411765%;
	--color-indigo-2: 225deg 100% 98.431373%;
	--color-indigo-3: 222.352941deg 89.473684% 96.27451%;
	--color-indigo-4: 224deg 100% 94.117647%;
	--color-indigo-5: 224deg 100% 91.176471%;
	--color-indigo-6: 225.483871deg 100% 87.843137%;
	--color-indigo-7: 226.153846deg 86.666667% 82.352941%;
	--color-indigo-8: 225.918367deg 75.384615% 74.509804%;
	--color-indigo-9: 226.037736deg 70.044053% 55.490196%;
	--color-indigo-10: 226.21118deg 65.182186% 51.568627%;
	--color-indigo-11: 225.957447deg 55.731225% 50.392157%;
	--color-indigo-12: 226.229508deg 49.593496% 24.117647%;
}
:root.dark {
	--color-indigo-1: 231.428571deg 29.166667% 9.411765%;
	--color-indigo-2: 230deg 31.034483% 11.372549%;
	--color-indigo-3: 225.306122deg 50.515464% 19.019608%;
	--color-indigo-4: 225.217391deg 54.330709% 24.901961%;
	--color-indigo-5: 224.810127deg 51.633987% 30%;
	--color-indigo-6: 226.428571deg 46.666667% 35.294118%;
	--color-indigo-7: 226.451613deg 44.497608% 40.980392%;
	--color-indigo-8: 225.818182deg 45.081967% 47.843137%;
	--color-indigo-9: 226.037736deg 70.044053% 55.490196%;
	--color-indigo-10: 227.5deg 72.727273% 61.176471%;
	--color-indigo-11: 228.247423deg 100% 80.980392%;
	--color-indigo-12: 223.902439deg 100% 91.960784%;
}
