:root {
	--color-indigoA-1: 240deg 100% 25.098039% / 0.007843;
	--color-indigoA-2: 224.941176deg 100% 50% / 0.031373;
	--color-indigoA-3: 222.323651deg 100% 47.254902% / 0.070588;
	--color-indigoA-4: 224deg 100% 50% / 0.117647;
	--color-indigoA-5: 224deg 100% 50% / 0.176471;
	--color-indigoA-6: 225.411765deg 100% 50% / 0.243137;
	--color-indigoA-7: 226.075949deg 100% 46.470588% / 0.329412;
	--color-indigoA-8: 225.818182deg 100% 43.137255% / 0.447059;
	--color-indigoA-9: 226deg 100% 41.176471% / 0.756863;
	--color-indigoA-10: 226.268657deg 100% 39.411765% / 0.8;
	--color-indigoA-11: 225.901639deg 100% 35.882353% / 0.772549;
	--color-indigoA-12: 226.285714deg 100% 13.72549% / 0.878431;
}
:root.dark {
	--color-indigoA-1: 231.428571deg 100% 53.333333% / 0.058824;
	--color-indigoA-2: 230.050251deg 95.215311% 59.019608% / 0.090196;
	--color-indigoA-3: 225.288462deg 100% 59.215686% / 0.235294;
	--color-indigoA-4: 225.445545deg 100% 60.392157% / 0.341176;
	--color-indigoA-5: 224.680851deg 97.916667% 62.352941% / 0.419608;
	--color-indigoA-6: 226.395349deg 97.727273% 65.490196% / 0.486275;
	--color-indigoA-7: 226.545455deg 100% 67.647059% / 0.564706;
	--color-indigoA-8: 226.01227deg 98.787879% 67.647059% / 0.67451;
	--color-indigoA-9: 226.054054deg 100% 63.72549% / 0.858824;
	--color-indigoA-10: 227.407407deg 98.780488% 67.843137% / 0.890196;
	--color-indigoA-11: 228.247423deg 100% 80.980392% / 1;
	--color-indigoA-12: 223.902439deg 100% 91.960784% / 1;
}
