:root {
	--color-irisA-1: 240deg 100% 50% / 0.007843;
	--color-irisA-2: 240deg 100% 50% / 0.027451;
	--color-irisA-3: 235.714286deg 100% 46.666667% / 0.058824;
	--color-irisA-4: 237.411765deg 100% 50% / 0.098039;
	--color-irisA-5: 236.705882deg 100% 50% / 0.145098;
	--color-irisA-6: 237.647059deg 100% 50% / 0.203922;
	--color-irisA-7: 237.913043deg 100% 45.098039% / 0.278431;
	--color-irisA-8: 237.788018deg 100% 42.54902% / 0.392157;
	--color-irisA-9: 240deg 100% 37.647059% / 0.643137;
	--color-irisA-10: 240deg 100% 35.686275% / 0.682353;
	--color-irisA-11: 242.105263deg 100% 33.529412% / 0.67451;
	--color-irisA-12: 238.285714deg 100% 13.72549% / 0.847059;
}
:root.dark {
	--color-irisA-1: 240deg 99.009901% 60.392157% / 0.054902;
	--color-irisA-2: 243.793103deg 93.548387% 63.529412% / 0.086275;
	--color-irisA-3: 236.878613deg 100% 66.078431% / 0.231373;
	--color-irisA-4: 236.292135deg 100% 65.098039% / 0.352941;
	--color-irisA-5: 237.407407deg 97.590361% 67.45098% / 0.419608;
	--color-irisA-6: 239.166667deg 97.297297% 70.980392% / 0.478431;
	--color-irisA-7: 240deg 98.540146% 73.137255% / 0.556863;
	--color-irisA-8: 240.454545deg 98.507463% 73.72549% / 0.67451;
	--color-irisA-9: 240deg 98.666667% 70.588235% / 0.831373;
	--color-irisA-10: 241.791045deg 100% 73.72549% / 0.862745;
	--color-irisA-11: 245.581395deg 100% 83.137255% / 1;
	--color-irisA-12: 241.935484deg 100% 93.921569% / 0.996078;
}
