:root {
	--color-iris-1: 240deg 100% 99.607843%;
	--color-iris-2: 240deg 100% 98.627451%;
	--color-iris-3: 235.714286deg 87.5% 96.862745%;
	--color-iris-4: 237.6deg 100% 95.098039%;
	--color-iris-5: 236.756757deg 100% 92.745098%;
	--color-iris-6: 237.692308deg 100% 89.803922%;
	--color-iris-7: 238.125deg 82.051282% 84.705882%;
	--color-iris-8: 237.882353deg 73.913043% 77.45098%;
	--color-iris-9: 240deg 60% 59.803922%;
	--color-iris-10: 240deg 55.357143% 56.078431%;
	--color-iris-11: 242.086957deg 50.218341% 55.098039%;
	--color-iris-12: 237.966102deg 43.065693% 26.862745%;
}
:root.dark {
	--color-iris-1: 240deg 22.44898% 9.607843%;
	--color-iris-2: 244deg 25.423729% 11.568627%;
	--color-iris-3: 237deg 38.461538% 20.392157%;
	--color-iris-4: 236.190476deg 45.323741% 27.254902%;
	--color-iris-5: 237.352941deg 41.463415% 32.156863%;
	--color-iris-6: 239.130435deg 36.125654% 37.45098%;
	--color-iris-7: 240deg 33.632287% 43.72549%;
	--color-iris-8: 240.674157deg 36.326531% 51.960784%;
	--color-iris-9: 240deg 60% 59.803922%;
	--color-iris-10: 242.068966deg 63.736264% 64.313725%;
	--color-iris-11: 245.581395deg 100% 83.137255%;
	--color-iris-12: 241.935484deg 93.939394% 93.529412%;
}
