:root {
	--color-jadeA-1: 160deg 100% 37.647059% / 0.015686;
	--color-jadeA-2: 145.766871deg 100% 31.960784% / 0.043137;
	--color-jadeA-3: 144.827586deg 100% 34.117647% / 0.098039;
	--color-jadeA-4: 148.928571deg 100% 32.941176% / 0.160784;
	--color-jadeA-5: 151.481481deg 100% 31.764706% / 0.235294;
	--color-jadeA-6: 153.896104deg 100% 30.196078% / 0.32549;
	--color-jadeA-7: 158.513514deg 100% 29.019608% / 0.454902;
	--color-jadeA-8: 163.708609deg 100% 29.607843% / 0.662745;
	--color-jadeA-9: 164.275862deg 100% 28.431373% / 0.839216;
	--color-jadeA-10: 164.444444deg 100% 26.470588% / 0.85098;
	--color-jadeA-11: 163.539823deg 100% 22.156863% / 0.87451;
	--color-jadeA-12: 160.588235deg 100% 6.666667% / 0.886275;
}
:root.dark {
	--color-jadeA-1: 138.648649deg 100% 43.529412% / 0.019608;
	--color-jadeA-2: 155.943396deg 96.363636% 56.862745% / 0.047059;
	--color-jadeA-3: 156.680162deg 98.406375% 49.215686% / 0.12549;
	--color-jadeA-4: 160deg 100% 50% / 0.176471;
	--color-jadeA-5: 161.596639deg 100% 53.333333% / 0.231373;
	--color-jadeA-6: 161.970443deg 100% 60.196078% / 0.294118;
	--color-jadeA-7: 162.391304deg 97.87234% 63.137255% / 0.368627;
	--color-jadeA-8: 164.262295deg 100% 64.117647% / 0.458824;
	--color-jadeA-9: 164.242424deg 99% 60.784314% / 0.615686;
	--color-jadeA-10: 163.902439deg 99.033816% 59.411765% / 0.670588;
	--color-jadeA-11: 163.167421deg 99.103139% 56.27451% / 0.839216;
	--color-jadeA-12: 154.647887deg 100% 86.078431% / 0.937255;
}
