:root {
	--color-jade-1: 160deg 60% 99.019608%;
	--color-jade-2: 145.714286deg 46.666667% 97.058824%;
	--color-jade-3: 144.705882deg 51.515152% 93.529412%;
	--color-jade-4: 148.888889deg 49.090909% 89.215686%;
	--color-jade-5: 151.578947deg 46.341463% 83.921569%;
	--color-jade-6: 153.6deg 43.103448% 77.254902%;
	--color-jade-7: 158.507463deg 40.606061% 67.647059%;
	--color-jade-8: 163.8deg 42.016807% 53.333333%;
	--color-jade-9: 164.262295deg 59.803922% 40%;
	--color-jade-10: 164.347826deg 60.209424% 37.45098%;
	--color-jade-11: 163.636364deg 60.736196% 31.960784%;
	--color-jade-12: 160deg 34.090909% 17.254902%;
}
:root.dark {
	--color-jade-1: 157.5deg 23.529412% 6.666667%;
	--color-jade-2: 156deg 21.73913% 9.019608%;
	--color-jade-3: 156.774194deg 50.819672% 11.960784%;
	--color-jade-4: 161.25deg 68.571429% 13.72549%;
	--color-jade-5: 161.454545deg 61.797753% 17.45098%;
	--color-jade-6: 162deg 52.631579% 22.352941%;
	--color-jade-7: 162.352941deg 48.571429% 27.45098%;
	--color-jade-8: 164.285714deg 50% 32.941176%;
	--color-jade-9: 164.262295deg 59.803922% 40%;
	--color-jade-10: 163.79562deg 63.72093% 42.156863%;
	--color-jade-11: 163.135135deg 74.898785% 48.431373%;
	--color-jade-12: 154.925373deg 69.072165% 80.980392%;
}
