:root {
	--color-lime-1: 80deg 42.857143% 98.627451%;
	--color-lime-2: 77.142857deg 41.176471% 96.666667%;
	--color-lime-3: 75deg 64% 90.196078%;
	--color-lime-4: 76.470588deg 62.962963% 84.117647%;
	--color-lime-5: 78.461538deg 57.522124% 77.843137%;
	--color-lime-6: 79.726027deg 49.659864% 71.176471%;
	--color-lime-7: 82.222222deg 42.857143% 62.941176%;
	--color-lime-8: 85.102041deg 40.163934% 52.156863%;
	--color-lime-9: 81.151079deg 80.346821% 66.078431%;
	--color-lime-10: 81.038961deg 75.490196% 60%;
	--color-lime-11: 84.935065deg 45.02924% 33.529412%;
	--color-lime-12: 75deg 39.130435% 18.039216%;
}
:root.dark {
	--color-lime-1: 77.142857deg 22.580645% 6.078431%;
	--color-lime-2: 90deg 23.809524% 8.235294%;
	--color-lime-3: 93.333333deg 28.125% 12.54902%;
	--color-lime-4: 92.307692deg 30.952381% 16.470588%;
	--color-lime-5: 90.909091deg 32.038835% 20.196078%;
	--color-lime-6: 91.5deg 32.258065% 24.313725%;
	--color-lime-7: 90.612245deg 33.333333% 28.823529%;
	--color-lime-8: 89.508197deg 35.260116% 33.921569%;
	--color-lime-9: 81.151079deg 80.346821% 66.078431%;
	--color-lime-10: 78.041958deg 100% 71.960784%;
	--color-lime-11: 79.834711deg 69.942197% 66.078431%;
	--color-lime-12: 79.672131deg 79.220779% 84.901961%;
}
