:root {
	--color-limeA-1: 80deg 100% 30% / 0.019608;
	--color-limeA-2: 76.912752deg 100% 29.215686% / 0.047059;
	--color-limeA-3: 75deg 100% 39.215686% / 0.160784;
	--color-limeA-4: 76.666667deg 100% 38.823529% / 0.258824;
	--color-limeA-5: 78.609626deg 100% 36.666667% / 0.34902;
	--color-limeA-6: 79.764706deg 100% 33.333333% / 0.431373;
	--color-limeA-7: 81.960784deg 100% 30% / 0.529412;
	--color-limeA-8: 85.068493deg 100% 28.627451% / 0.670588;
	--color-limeA-9: 81.315789deg 100% 44.705882% / 0.611765;
	--color-limeA-10: 81deg 100% 43.137255% / 0.701961;
	--color-limeA-11: 85.263158deg 100% 18.627451% / 0.815686;
	--color-limeA-12: 76.097561deg 100% 8.039216% / 0.890196;
}
:root.dark {
	--color-limeA-1: 114.545455deg 100% 36.666667% / 0.011765;
	--color-limeA-2: 90.850202deg 100% 48.431373% / 0.039216;
	--color-limeA-3: 93.220339deg 97.790055% 64.509804% / 0.101961;
	--color-limeA-4: 92.222222deg 98.780488% 67.843137% / 0.160784;
	--color-limeA-5: 90.980392deg 98.709677% 69.607843% / 0.215686;
	--color-limeA-6: 91.448276deg 98.639456% 71.176471% / 0.27451;
	--color-limeA-7: 90.416667deg 100% 71.764706% / 0.341176;
	--color-limeA-8: 89.583333deg 97.297297% 70.980392% / 0.423529;
	--color-limeA-9: 81.2deg 100% 70.588235% / 0.929412;
	--color-limeA-10: 78.041958deg 100% 71.960784% / 1;
	--color-limeA-11: 80deg 98.540146% 73.137255% / 0.894118;
	--color-limeA-12: 80deg 96.923077% 87.254902% / 0.968627;
}
