:root {
	--color-mauveA-1: 300deg 100% 16.666667% / 0.011765;
	--color-mauveA-2: 270.352941deg 100% 16.666667% / 0.023529;
	--color-mauveA-3: 285deg 100% 12.54902% / 0.062745;
	--color-mauveA-4: 275.555556deg 100% 10.588235% / 0.094118;
	--color-mauveA-5: 274.285714deg 100% 10.980392% / 0.12549;
	--color-mauveA-6: 262.641509deg 100% 10.392157% / 0.152941;
	--color-mauveA-7: 258.823529deg 100% 10% / 0.196078;
	--color-mauveA-8: 249.795918deg 100% 9.607843% / 0.270588;
	--color-mauveA-9: 250.344828deg 100% 5.686275% / 0.45098;
	--color-mauveA-10: 252deg 100% 4.901961% / 0.490196;
	--color-mauveA-11: 254.117647deg 100% 3.333333% / 0.611765;
	--color-mauveA-12: 255deg 100% 1.568627% / 0.878431;
}
:root.dark {
	--color-mauveA-1: 0deg 0% 0% / 0;
	--color-mauveA-2: 270deg 10% 96.078431% / 0.035294;
	--color-mauveA-3: 244.285714deg 50% 94.509804% / 0.078431;
	--color-mauveA-4: 268.421053deg 57.575758% 93.529412% / 0.113725;
	--color-mauveA-5: 262.5deg 92.307692% 94.901961% / 0.145098;
	--color-mauveA-6: 268.695652deg 85.185185% 94.705882% / 0.188235;
	--color-mauveA-7: 253.636364deg 100% 95.686275% / 0.25098;
	--color-mauveA-8: 257.5deg 100% 95.294118% / 0.364706;
	--color-mauveA-9: 250.434783deg 85.185185% 94.705882% / 0.431373;
	--color-mauveA-10: 249deg 83.333333% 95.294118% / 0.486275;
	--color-mauveA-11: 257.142857deg 100% 97.254902% / 0.717647;
	--color-mauveA-12: 240deg 100% 99.607843% / 0.937255;
}
