:root {
	--color-mauve-1: 300deg 20% 99.019608%;
	--color-mauve-2: 270deg 20% 98.039216%;
	--color-mauve-3: 285deg 14.285714% 94.509804%;
	--color-mauve-4: 276deg 11.627907% 91.568627%;
	--color-mauve-5: 274.285714deg 12.280702% 88.823529%;
	--color-mauve-6: 262.5deg 11.428571% 86.27451%;
	--color-mauve-7: 258deg 11.111111% 82.352941%;
	--color-mauve-8: 249.230769deg 10.4% 75.490196%;
	--color-mauve-9: 249.230769deg 5.990783% 57.45098%;
	--color-mauve-10: 250deg 5.042017% 53.333333%;
	--color-mauve-11: 252deg 4.807692% 40.784314%;
	--color-mauve-12: 257.142857deg 10.144928% 13.529412%;
}
:root.dark {
	--color-mauve-1: 270deg 5.555556% 7.058824%;
	--color-mauve-2: 270deg 3.846154% 10.196078%;
	--color-mauve-3: 260deg 4.225352% 13.921569%;
	--color-mauve-4: 270deg 4.651163% 16.862745%;
	--color-mauve-5: 264deg 4.950495% 19.803922%;
	--color-mauve-6: 270deg 5% 23.529412%;
	--color-mauve-7: 257.142857deg 4.697987% 29.215686%;
	--color-mauve-8: 258deg 5% 39.215686%;
	--color-mauve-9: 250.909091deg 4.803493% 44.901961%;
	--color-mauve-10: 250.909091deg 4.313725% 50%;
	--color-mauve-11: 258deg 6.944444% 71.764706%;
	--color-mauve-12: 240deg 6.25% 93.72549%;
}
