:root {
	--color-mint-1: 168deg 71.428571% 98.627451%;
	--color-mint-2: 166.666667deg 52.941176% 96.666667%;
	--color-mint-3: 165deg 70% 92.156863%;
	--color-mint-4: 165deg 66.666667% 87.058824%;
	--color-mint-5: 165.263158deg 60% 81.372549%;
	--color-mint-6: 165.882353deg 52.307692% 74.509804%;
	--color-mint-7: 166.666667deg 45.762712% 65.294118%;
	--color-mint-8: 168.108108deg 44.939271% 51.568627%;
	--color-mint-9: 166.8deg 70.422535% 72.156863%;
	--color-mint-10: 167.272727deg 61.490683% 68.431373%;
	--color-mint-11: 169.830508deg 96.721311% 23.921569%;
	--color-mint-12: 170.666667deg 50.561798% 17.45098%;
}
:root.dark {
	--color-mint-1: 180deg 20% 6.862745%;
	--color-mint-2: 180deg 28.571429% 8.235294%;
	--color-mint-3: 178.285714deg 66.037736% 10.392157%;
	--color-mint-4: 177.931034deg 100% 11.372549%;
	--color-mint-5: 177.464789deg 100% 13.921569%;
	--color-mint-6: 174.857143deg 68.627451% 20%;
	--color-mint-7: 172.702703deg 55.223881% 26.27451%;
	--color-mint-8: 169.772727deg 53.012048% 32.54902%;
	--color-mint-9: 166.8deg 70.422535% 72.156863%;
	--color-mint-10: 167.532468deg 79.381443% 80.980392%;
	--color-mint-11: 167.04deg 59.808612% 59.019608%;
	--color-mint-12: 155.510204deg 71.014493% 86.470588%;
}
