:root {
	--color-olive-1: 120deg 20% 99.019608%;
	--color-olive-2: 120deg 16.666667% 97.647059%;
	--color-olive-3: 120deg 6.666667% 94.117647%;
	--color-olive-4: 120deg 4.347826% 90.980392%;
	--color-olive-5: 120deg 4.918033% 88.039216%;
	--color-olive-6: 120deg 3.896104% 84.901961%;
	--color-olive-7: 120deg 3.030303% 80.588235%;
	--color-olive-8: 105deg 2.898551% 72.941176%;
	--color-olive-9: 102.857143deg 3.004292% 54.313725%;
	--color-olive-10: 102.857143deg 2.766798% 50.392157%;
	--color-olive-11: 110deg 3.061224% 38.431373%;
	--color-olive-12: 108deg 8.196721% 11.960784%;
}
:root.dark {
	--color-olive-1: 90deg 5.882353% 6.666667%;
	--color-olive-2: 90deg 4.166667% 9.411765%;
	--color-olive-3: 90deg 3.030303% 12.941176%;
	--color-olive-4: 100deg 3.703704% 15.882353%;
	--color-olive-5: 100deg 3.157895% 18.627451%;
	--color-olive-6: 90deg 3.571429% 21.960784%;
	--color-olive-7: 96deg 3.597122% 27.254902%;
	--color-olive-8: 111.428571deg 3.703704% 37.058824%;
	--color-olive-9: 108deg 4.672897% 41.960784%;
	--color-olive-10: 106.666667deg 3.73444% 47.254902%;
	--color-olive-11: 105deg 5.128205% 69.411765%;
	--color-olive-12: 120deg 5.555556% 92.941176%;
}
