:root {
	--color-oliveA-1: 120deg 100% 16.666667% / 0.011765;
	--color-oliveA-2: 120deg 100% 14.313725% / 0.027451;
	--color-oliveA-3: 120deg 100% 6.27451% / 0.062745;
	--color-oliveA-4: 120deg 100% 4.313725% / 0.094118;
	--color-oliveA-5: 120deg 100% 4.705882% / 0.12549;
	--color-oliveA-6: 120deg 100% 3.921569% / 0.156863;
	--color-oliveA-7: 120deg 100% 2.941176% / 0.2;
	--color-oliveA-8: 104deg 100% 2.941176% / 0.278431;
	--color-oliveA-9: 100deg 100% 2.941176% / 0.470588;
	--color-oliveA-10: 102.857143deg 100% 2.745098% / 0.509804;
	--color-oliveA-11: 108deg 100% 1.960784% / 0.627451;
	--color-oliveA-12: 110deg 100% 1.176471% / 0.890196;
}
:root.dark {
	--color-oliveA-1: 0deg 0% 0% / 0;
	--color-oliveA-2: 90deg 7.142857% 94.509804% / 0.031373;
	--color-oliveA-3: 90deg 9.090909% 95.686275% / 0.070588;
	--color-oliveA-4: 115deg 85.714286% 97.254902% / 0.101961;
	--color-oliveA-5: 114deg 55.555556% 96.470588% / 0.133333;
	--color-oliveA-6: 87.692308deg 56.521739% 95.490196% / 0.172549;
	--color-oliveA-7: 100deg 71.428571% 95.882353% / 0.231373;
	--color-oliveA-8: 113.333333deg 81.818182% 95.686275% / 0.341176;
	--color-oliveA-9: 109.090909deg 84.615385% 94.901961% / 0.4;
	--color-oliveA-10: 105.882353deg 80.952381% 95.882353% / 0.454902;
	--color-oliveA-11: 108deg 83.333333% 97.647059% / 0.690196;
	--color-oliveA-12: 120deg 100% 99.607843% / 0.929412;
}
