:root {
	--color-orangeA-1: 20deg 100% 37.647059% / 0.015686;
	--color-orangeA-2: 33.411765deg 100% 50% / 0.070588;
	--color-orangeA-3: 36.705882deg 100% 50% / 0.160784;
	--color-orangeA-4: 34.015748deg 100% 50.196078% / 0.290196;
	--color-orangeA-5: 32.705882deg 100% 50% / 0.396078;
	--color-orangeA-6: 30.352941deg 100% 50% / 0.490196;
	--color-orangeA-7: 27.341772deg 100% 46.470588% / 0.54902;
	--color-orangeA-8: 25.110132deg 100% 44.509804% / 0.666667;
	--color-orangeA-9: 22.926829deg 100% 48.235294% / 0.917647;
	--color-orangeA-10: 23.849372deg 100% 46.862745% / 1;
	--color-orangeA-11: 22.941176deg 100% 40% / 1;
	--color-orangeA-12: 16.119403deg 100% 13.137255% / 0.886275;
}
:root.dark {
	--color-orangeA-1: 13.728814deg 100% 46.27451% / 0.027451;
	--color-orangeA-2: 25.748031deg 100% 49.803922% / 0.054902;
	--color-orangeA-3: 25.338645deg 100% 49.215686% / 0.145098;
	--color-orangeA-4: 20.941176deg 100% 50% / 0.223529;
	--color-orangeA-5: 22.823529deg 100% 50% / 0.290196;
	--color-orangeA-6: 27.228916deg 98.418972% 50.392157% / 0.360784;
	--color-orangeA-7: 24.739336deg 100% 58.627451% / 0.458824;
	--color-orangeA-8: 23.030303deg 99% 60.784314% / 0.615686;
	--color-orangeA-9: 22.660944deg 99.148936% 53.921569% / 0.968627;
	--color-orangeA-10: 25.982143deg 100% 56.078431% / 1;
	--color-orangeA-11: 26.071429deg 100% 67.058824% / 1;
	--color-orangeA-12: 29.508197deg 100% 88.039216% / 1;
}
