:root {
	--color-pinkA-1: 320deg 100% 50% / 0.011765;
	--color-pinkA-2: 325.714286deg 100% 43.921569% / 0.031373;
	--color-pinkA-3: 325.57377deg 100% 47.843137% / 0.086275;
	--color-pinkA-4: 323.097345deg 100% 44.313725% / 0.137255;
	--color-pinkA-5: 322.392344deg 100% 40.980392% / 0.192157;
	--color-pinkA-6: 322.5deg 100% 37.647059% / 0.25098;
	--color-pinkA-7: 323.406593deg 100% 35.686275% / 0.32549;
	--color-pinkA-8: 321.942857deg 100% 34.313725% / 0.423529;
	--color-pinkA-9: 321.9deg 100% 39.215686% / 0.74902;
	--color-pinkA-10: 322.268041deg 100% 38.039216% / 0.780392;
	--color-pinkA-11: 321.758242deg 100% 35.686275% / 0.839216;
	--color-pinkA-12: 320.224719deg 100% 17.45098% / 0.929412;
}
:root.dark {
	--color-pinkA-1: 314.867257deg 91.129032% 51.372549% / 0.035294;
	--color-pinkA-2: 316.132075deg 90.598291% 54.117647% / 0.070588;
	--color-pinkA-3: 315.075377deg 99.004975% 60.588235% / 0.160784;
	--color-pinkA-4: 315.135135deg 97.368421% 55.294118% / 0.247059;
	--color-pinkA-5: 317.7deg 98.039216% 60% / 0.305882;
	--color-pinkA-6: 318.837209deg 97.727273% 65.490196% / 0.372549;
	--color-pinkA-7: 320.516129deg 97.484277% 68.823529% / 0.482353;
	--color-pinkA-8: 321.854305deg 100% 70.392157% / 0.635294;
	--color-pinkA-9: 321.878453deg 98.907104% 64.117647% / 0.831373;
	--color-pinkA-10: 323.190184deg 100% 68.039216% / 0.862745;
	--color-pinkA-11: 326.842105deg 100% 77.647059% / 1;
	--color-pinkA-12: 325.909091deg 100% 91.372549% / 0.992157;
}
