:root {
	--color-pink-1: 320deg 100% 99.411765%;
	--color-pink-2: 325.714286deg 77.777778% 98.235294%;
	--color-pink-3: 325.714286deg 91.304348% 95.490196%;
	--color-pink-4: 323.225806deg 79.487179% 92.352941%;
	--color-pink-5: 322.5deg 68.965517% 88.627451%;
	--color-pink-6: 322.5deg 60% 84.313725%;
	--color-pink-7: 323.389831deg 55.140187% 79.019608%;
	--color-pink-8: 321.891892deg 52.112676% 72.156863%;
	--color-pink-9: 322deg 64.655172% 54.509804%;
	--color-pink-10: 322.251656deg 61.133603% 51.568627%;
	--color-pink-11: 321.960784deg 65.106383% 46.078431%;
	--color-pink-12: 320.240964deg 69.747899% 23.333333%;
}
:root.dark {
	--color-pink-1: 315deg 19.047619% 8.235294%;
	--color-pink-2: 316deg 29.411765% 10%;
	--color-pink-3: 315deg 41.025641% 15.294118%;
	--color-pink-4: 315.272727deg 57.894737% 18.627451%;
	--color-pink-5: 317.704918deg 52.136752% 22.941176%;
	--color-pink-6: 318.75deg 43.835616% 28.627451%;
	--color-pink-7: 320.8deg 40.106952% 36.666667%;
	--color-pink-8: 321.875deg 40% 47.058824%;
	--color-pink-9: 322deg 64.655172% 54.509804%;
	--color-pink-10: 322.978723deg 68.115942% 59.411765%;
	--color-pink-11: 326.842105deg 100% 77.647059%;
	--color-pink-12: 325.909091deg 91.666667% 90.588235%;
}
