:root {
	--color-plumA-1: 280deg 100% 50% / 0.011765;
	--color-plumA-2: 300deg 100% 37.647059% / 0.031373;
	--color-plumA-3: 300deg 100% 40% / 0.078431;
	--color-plumA-4: 297.910448deg 100% 39.411765% / 0.129412;
	--color-plumA-5: 298.095238deg 100% 37.058824% / 0.180392;
	--color-plumA-6: 295.909091deg 100% 34.509804% / 0.239216;
	--color-plumA-7: 294.642857deg 100% 32.941176% / 0.321569;
	--color-plumA-8: 292.363636deg 100% 32.352941% / 0.431373;
	--color-plumA-9: 292.025316deg 100% 30.980392% / 0.709804;
	--color-plumA-10: 292.191781deg 100% 28.627451% / 0.733333;
	--color-plumA-11: 291.492537deg 100% 26.27451% / 0.756863;
	--color-plumA-12: 291.2deg 100% 14.705882% / 0.901961;
}
:root.dark {
	--color-plumA-1: 300deg 88.844622% 50.784314% / 0.031373;
	--color-plumA-2: 300deg 88.235294% 56.666667% / 0.066667;
	--color-plumA-3: 300deg 97.790055% 64.509804% / 0.152941;
	--color-plumA-4: 297.081081deg 100% 63.72549% / 0.227451;
	--color-plumA-5: 296.117647deg 100% 66.666667% / 0.282353;
	--color-plumA-6: 296.30137deg 100% 71.372549% / 0.337255;
	--color-plumA-7: 293.953488deg 96.992481% 73.921569% / 0.439216;
	--color-plumA-8: 291.707317deg 100% 75.882353% / 0.584314;
	--color-plumA-9: 291.974522deg 98.742138% 68.823529% / 0.713725;
	--color-plumA-10: 292.447552deg 100% 71.960784% / 0.752941;
	--color-plumA-11: 292.040816deg 98% 80.392157% / 0.952941;
	--color-plumA-12: 300deg 94.285714% 93.137255% / 0.956863;
}
