:root {
	--color-plum-1: 280deg 100% 99.411765%;
	--color-plum-2: 300deg 60% 98.039216%;
	--color-plum-3: 300deg 66.666667% 95.294118%;
	--color-plum-4: 297.692308deg 65% 92.156863%;
	--color-plum-5: 298.235294deg 58.62069% 88.627451%;
	--color-plum-6: 295.714286deg 52.5% 84.313725%;
	--color-plum-7: 294.444444deg 49.090909% 78.431373%;
	--color-plum-8: 292.394366deg 47.651007% 70.784314%;
	--color-plum-9: 291.964286deg 44.8% 50.980392%;
	--color-plum-10: 292.149533deg 44.032922% 47.647059%;
	--color-plum-11: 291.683168deg 44.888889% 44.117647%;
	--color-plum-12: 291.176471deg 57.627119% 23.137255%;
}
:root.dark {
	--color-plum-1: 300deg 17.073171% 8.039216%;
	--color-plum-2: 300deg 25.490196% 10%;
	--color-plum-3: 300deg 34.177215% 15.490196%;
	--color-plum-4: 297.142857deg 42% 19.607843%;
	--color-plum-5: 296.25deg 40% 23.529412%;
	--color-plum-6: 296.326531deg 33.793103% 28.431373%;
	--color-plum-7: 293.684211deg 30.810811% 36.27451%;
	--color-plum-8: 291.666667deg 30% 47.058824%;
	--color-plum-9: 291.964286deg 44.8% 50.980392%;
	--color-plum-10: 292.222222deg 47.787611% 55.686275%;
	--color-plum-11: 292.258065deg 79.487179% 77.058824%;
	--color-plum-12: 300deg 59.259259% 89.411765%;
}
