:root {
	--color-purple-1: 300deg 50% 99.215686%;
	--color-purple-2: 274.285714deg 77.777778% 98.235294%;
	--color-purple-3: 275.294118deg 89.473684% 96.27451%;
	--color-purple-4: 276.923077deg 81.25% 93.72549%;
	--color-purple-5: 275deg 75% 90.588235%;
	--color-purple-6: 275deg 68.571429% 86.27451%;
	--color-purple-7: 273.442623deg 61.616162% 80.588235%;
	--color-purple-8: 271.851852deg 60% 73.529412%;
	--color-purple-9: 272deg 51.282051% 54.117647%;
	--color-purple-10: 271.578947deg 44.88189% 50.196078%;
	--color-purple-11: 272.142857deg 44.8% 49.019608%;
	--color-purple-12: 270deg 50% 25.098039%;
}
:root.dark {
	--color-purple-1: 282deg 22.727273% 8.627451%;
	--color-purple-2: 278.571429deg 25% 10.980392%;
	--color-purple-3: 278.709677deg 35.632184% 17.058824%;
	--color-purple-4: 276.818182deg 39.285714% 21.960784%;
	--color-purple-5: 276.470588deg 38.345865% 26.078431%;
	--color-purple-6: 274.909091deg 34.591195% 31.176471%;
	--color-purple-7: 273.75deg 32.653061% 38.431373%;
	--color-purple-8: 272.53012deg 32.806324% 50.392157%;
	--color-purple-9: 272deg 51.282051% 54.117647%;
	--color-purple-10: 272.068966deg 55.238095% 58.823529%;
	--color-purple-11: 271.836735deg 100% 80.784314%;
	--color-purple-12: 274.545455deg 76.744186% 91.568627%;
}
