:root {
	--color-purpleA-1: 300deg 100% 33.333333% / 0.011765;
	--color-purpleA-2: 274.285714deg 100% 43.921569% / 0.031373;
	--color-purpleA-3: 275.352697deg 100% 47.254902% / 0.070588;
	--color-purpleA-4: 276.943231deg 100% 44.901961% / 0.113725;
	--color-purpleA-5: 275.068493deg 100% 42.941176% / 0.164706;
	--color-purpleA-6: 275.072464deg 99.043062% 40.980392% / 0.231373;
	--color-purpleA-7: 273.538462deg 100% 38.235294% / 0.313725;
	--color-purpleA-8: 271.875deg 100% 37.647059% / 0.423529;
	--color-purpleA-9: 271.907514deg 100% 33.921569% / 0.694118;
	--color-purpleA-10: 271.518987deg 100% 30.980392% / 0.721569;
	--color-purpleA-11: 271.948052deg 100% 30.196078% / 0.729412;
	--color-purpleA-12: 270.410959deg 100% 14.313725% / 0.87451;
}
:root.dark {
	--color-purpleA-1: 282.077922deg 95.061728% 52.352941% / 0.043137;
	--color-purpleA-2: 278.547486deg 91.794872% 61.764706% / 0.078431;
	--color-purpleA-3: 278.742857deg 100% 65.686275% / 0.176471;
	--color-purpleA-4: 276.705882deg 97.701149% 65.882353% / 0.258824;
	--color-purpleA-5: 276.521739deg 97.575758% 67.647059% / 0.317647;
	--color-purpleA-6: 275deg 97.297297% 70.980392% / 0.380392;
	--color-purpleA-7: 273.834586deg 97.080292% 73.137255% / 0.478431;
	--color-purpleA-8: 272.55814deg 100% 74.705882% / 0.643137;
	--color-purpleA-9: 272.278481deg 100% 69.019608% / 0.760784;
	--color-purpleA-10: 272.083333deg 100% 71.764706% / 0.803922;
	--color-purpleA-11: 271.836735deg 100% 80.784314% / 1;
	--color-purpleA-12: 275.294118deg 100% 93.333333% / 0.980392;
}
