:root {
	--color-red-1: 0deg 100% 99.411765%;
	--color-red-2: 0deg 100% 98.431373%;
	--color-red-3: 356.842105deg 90.47619% 95.882353%;
	--color-red-4: 358.333333deg 100% 92.941176%;
	--color-red-5: 358.8deg 100% 90.196078%;
	--color-red-6: 359.0625deg 94.117647% 86.666667%;
	--color-red-7: 359.2deg 77.319588% 80.980392%;
	--color-red-8: 358.709677deg 69.924812% 73.921569%;
	--color-red-9: 358.089172deg 75.119617% 59.019608%;
	--color-red-10: 358.481013deg 69.298246% 55.294118%;
	--color-red-11: 358.148148deg 64.8% 49.019608%;
	--color-red-12: 350.649351deg 62.601626% 24.117647%;
}
:root.dark {
	--color-red-1: 0deg 19.047619% 8.235294%;
	--color-red-2: 355.384615deg 25.490196% 10%;
	--color-red-3: 349.756098deg 53.246753% 15.098039%;
	--color-red-4: 348deg 68.421053% 18.627451%;
	--color-red-5: 349.6deg 63.02521% 23.333333%;
	--color-red-6: 352.405063deg 53.020134% 29.215686%;
	--color-red-7: 355.280899deg 46.596859% 37.45098%;
	--color-red-8: 358.392857deg 44.8% 49.019608%;
	--color-red-9: 358.089172deg 75.119617% 59.019608%;
	--color-red-10: 359.58042deg 79.005525% 64.509804%;
	--color-red-11: 1.651376deg 100% 78.627451%;
	--color-red-12: 349.565217deg 100% 90.980392%;
}
