:root {
	--color-ruby-1: 340deg 100% 99.411765%;
	--color-ruby-2: 352.5deg 100% 98.431373%;
	--color-ruby-3: 351deg 90.909091% 95.686275%;
	--color-ruby-4: 351.428571deg 100% 93.137255%;
	--color-ruby-5: 350.204082deg 100% 90.392157%;
	--color-ruby-6: 350.526316deg 80.28169% 86.078431%;
	--color-ruby-7: 349.253731deg 67.676768% 80.588235%;
	--color-ruby-8: 347.710843deg 61.481481% 73.529412%;
	--color-ruby-9: 347.924528deg 75.35545% 58.627451%;
	--color-ruby-10: 347.329193deg 69.69697% 54.705882%;
	--color-ruby-11: 345.180723deg 69.747899% 46.666667%;
	--color-ruby-12: 344.415584deg 62.601626% 24.117647%;
}
:root.dark {
	--color-ruby-1: 345deg 19.047619% 8.235294%;
	--color-ruby-2: 346.666667deg 17.647059% 10%;
	--color-ruby-3: 344.210526deg 48.717949% 15.294118%;
	--color-ruby-4: 341.694915deg 60.824742% 19.019608%;
	--color-ruby-5: 342.352941deg 56.666667% 23.529412%;
	--color-ruby-6: 343.783784deg 50% 29.019608%;
	--color-ruby-7: 346.428571deg 44.680851% 36.862745%;
	--color-ruby-8: 348.108108deg 44.939271% 48.431373%;
	--color-ruby-9: 347.924528deg 75.35545% 58.627451%;
	--color-ruby-10: 350.136986deg 79.347826% 63.921569%;
	--color-ruby-11: 354.953271deg 100% 79.019608%;
	--color-ruby-12: 339.545455deg 95.652174% 90.980392%;
}
