:root {
	--color-sage-1: 150deg 33.333333% 98.823529%;
	--color-sage-2: 150deg 14.285714% 97.254902%;
	--color-sage-3: 160deg 9.677419% 93.921569%;
	--color-sage-4: 160deg 6.382979% 90.784314%;
	--color-sage-5: 140deg 4.918033% 88.039216%;
	--color-sage-6: 160deg 3.896104% 84.901961%;
	--color-sage-7: 150deg 4% 80.392157%;
	--color-sage-8: 150deg 2.898551% 72.941176%;
	--color-sage-9: 157.5deg 3.418803% 54.117647%;
	--color-sage-10: 157.5deg 3.149606% 50.196078%;
	--color-sage-11: 160deg 3.061224% 38.431373%;
	--color-sage-12: 154.285714deg 11.864407% 11.568627%;
}
:root.dark {
	--color-sage-1: 150deg 5.882353% 6.666667%;
	--color-sage-2: 150deg 4.166667% 9.411765%;
	--color-sage-3: 150deg 3.030303% 12.941176%;
	--color-sage-4: 160deg 3.703704% 15.882353%;
	--color-sage-5: 160deg 3.157895% 18.627451%;
	--color-sage-6: 150deg 3.508772% 22.352941%;
	--color-sage-7: 156deg 3.546099% 27.647059%;
	--color-sage-8: 154.285714deg 3.703704% 37.058824%;
	--color-sage-9: 156.923077deg 6.161137% 41.372549%;
	--color-sage-10: 160deg 5.042017% 46.666667%;
	--color-sage-11: 157.5deg 5.128205% 69.411765%;
	--color-sage-12: 150deg 5.555556% 92.941176%;
}
