:root {
	--color-sageA-1: 150deg 100% 25.098039% / 0.015686;
	--color-sageA-2: 150deg 100% 12.54902% / 0.031373;
	--color-sageA-3: 160deg 100% 8.823529% / 0.066667;
	--color-sageA-4: 160.645161deg 100% 6.078431% / 0.098039;
	--color-sageA-5: 140deg 100% 4.705882% / 0.12549;
	--color-sageA-6: 159deg 100% 3.921569% / 0.156863;
	--color-sageA-7: 150deg 100% 3.921569% / 0.203922;
	--color-sageA-8: 152deg 100% 2.941176% / 0.278431;
	--color-sageA-9: 158.823529deg 100% 3.333333% / 0.47451;
	--color-sageA-10: 157.5deg 100% 3.137255% / 0.513725;
	--color-sageA-11: 162deg 100% 1.960784% / 0.627451;
	--color-sageA-12: 157.5deg 100% 1.568627% / 0.898039;
}
:root.dark {
	--color-sageA-1: 0deg 0% 0% / 0;
	--color-sageA-2: 150deg 7.142857% 94.509804% / 0.031373;
	--color-sageA-3: 150deg 9.090909% 95.686275% / 0.070588;
	--color-sageA-4: 175deg 85.714286% 97.254902% / 0.101961;
	--color-sageA-5: 174deg 55.555556% 96.470588% / 0.133333;
	--color-sageA-6: 150deg 63.636364% 95.686275% / 0.176471;
	--color-sageA-7: 160deg 71.428571% 95.882353% / 0.235294;
	--color-sageA-8: 156.666667deg 81.818182% 95.686275% / 0.341176;
	--color-sageA-9: 158deg 88.235294% 93.333333% / 0.4;
	--color-sageA-10: 162.5deg 85.714286% 94.509804% / 0.454902;
	--color-sageA-11: 162deg 83.333333% 97.647059% / 0.690196;
	--color-sageA-12: 150deg 100% 99.607843% / 0.929412;
}
