:root {
	--color-sand-1: 60deg 20% 99.019608%;
	--color-sand-2: 60deg 7.692308% 97.45098%;
	--color-sand-3: 30deg 6.666667% 94.117647%;
	--color-sand-4: 40deg 6.382979% 90.784314%;
	--color-sand-5: 45deg 6.451613% 87.843137%;
	--color-sand-6: 45deg 5.128205% 84.705882%;
	--color-sand-7: 48deg 4.950495% 80.196078%;
	--color-sand-8: 51.428571deg 4.964539% 72.352941%;
	--color-sand-9: 60deg 2.978723% 53.921569%;
	--color-sand-10: 60deg 2.362205% 49.803922%;
	--color-sand-11: 60deg 2.590674% 37.843137%;
	--color-sand-12: 48deg 8.196721% 11.960784%;
}
:root.dark {
	--color-sand-1: 60deg 3.030303% 6.470588%;
	--color-sand-2: 60deg 2.040816% 9.607843%;
	--color-sand-3: 60deg 1.492537% 13.137255%;
	--color-sand-4: 60deg 2.439024% 16.078431%;
	--color-sand-5: 60deg 3.157895% 18.627451%;
	--color-sand-6: 45deg 3.508772% 22.352941%;
	--color-sand-7: 48deg 3.546099% 27.647059%;
	--color-sand-8: 42.857143deg 3.703704% 37.058824%;
	--color-sand-9: 46.666667deg 4.225352% 41.764706%;
	--color-sand-10: 52.5deg 3.333333% 47.058824%;
	--color-sand-11: 45deg 5.128205% 69.411765%;
	--color-sand-12: 60deg 5.555556% 92.941176%;
}
