:root {
	--color-sandA-1: 60deg 100% 16.666667% / 0.011765;
	--color-sandA-2: 60deg 100% 7.254902% / 0.027451;
	--color-sandA-3: 30deg 100% 6.27451% / 0.062745;
	--color-sandA-4: 40.645161deg 100% 6.078431% / 0.098039;
	--color-sandA-5: 46.451613deg 100% 6.078431% / 0.129412;
	--color-sandA-6: 45.6deg 100% 4.901961% / 0.160784;
	--color-sandA-7: 48deg 100% 4.901961% / 0.207843;
	--color-sandA-8: 50deg 92.307692% 5.098039% / 0.290196;
	--color-sandA-9: 60deg 100% 2.941176% / 0.47451;
	--color-sandA-10: 60deg 100% 2.352941% / 0.513725;
	--color-sandA-11: 60deg 100% 1.568627% / 0.631373;
	--color-sandA-12: 50deg 100% 1.176471% / 0.890196;
}
:root.dark {
	--color-sandA-1: 0deg 0% 0% / 0;
	--color-sandA-2: 60deg 4.347826% 95.490196% / 0.035294;
	--color-sandA-3: 60deg 5.263158% 96.27451% / 0.07451;
	--color-sandA-4: 60deg 84.615385% 97.45098% / 0.105882;
	--color-sandA-5: 60deg 66.666667% 95.294118% / 0.137255;
	--color-sandA-6: 43.333333deg 100% 96.470588% / 0.176471;
	--color-sandA-7: 46.666667deg 100% 96.470588% / 0.235294;
	--color-sandA-8: 42deg 100% 96.078431% / 0.341176;
	--color-sandA-9: 46.363636deg 100% 95.686275% / 0.396078;
	--color-sandA-10: 52.941176deg 100% 96.666667% / 0.45098;
	--color-sandA-11: 43.636364deg 100% 97.843137% / 0.690196;
	--color-sandA-12: 60deg 100% 99.607843% / 0.929412;
}
