:root {
	--color-sky-1: 190deg 100% 98.823529%;
	--color-sky-2: 195deg 75% 96.862745%;
	--color-sky-3: 195deg 87.5% 93.72549%;
	--color-sky-4: 194.634146deg 80.392157% 90%;
	--color-sky-5: 195.272727deg 73.333333% 85.294118%;
	--color-sky-6: 196.764706deg 65.384615% 79.607843%;
	--color-sky-7: 197.44186deg 60.56338% 72.156863%;
	--color-sky-8: 198.151261deg 59.798995% 60.980392%;
	--color-sky-9: 192.923077deg 98.484848% 74.117647%;
	--color-sky-10: 193.636364deg 90.410959% 71.372549%;
	--color-sky-11: 195.949367deg 100% 30.980392%;
	--color-sky-12: 205.263158deg 49.565217% 22.54902%;
}
:root.dark {
	--color-sky-1: 216.666667deg 40.909091% 8.627451%;
	--color-sky-2: 215.454545deg 39.285714% 10.980392%;
	--color-sky-3: 210.638298deg 58.024691% 15.882353%;
	--color-sky-4: 208.235294deg 66.666667% 20%;
	--color-sky-5: 205.609756deg 66.129032% 24.313725%;
	--color-sky-6: 205deg 64% 29.411765%;
	--color-sky-7: 202.956522deg 64.971751% 34.705882%;
	--color-sky-8: 200.134228deg 74.874372% 39.019608%;
	--color-sky-9: 192.923077deg 98.484848% 74.117647%;
	--color-sky-10: 191.724138deg 100% 82.941176%;
	--color-sky-11: 200deg 80.392157% 70%;
	--color-sky-12: 191.803279deg 100% 88.039216%;
}
