:root {
	--color-skyA-1: 189.882353deg 100% 50% / 0.023529;
	--color-skyA-2: 195.068493deg 100% 42.941176% / 0.054902;
	--color-skyA-3: 194.87395deg 100% 46.666667% / 0.117647;
	--color-skyA-4: 194.736842deg 100% 44.705882% / 0.180392;
	--color-skyA-5: 195.277778deg 100% 42.352941% / 0.254902;
	--color-skyA-6: 196.633663deg 100% 39.607843% / 0.337255;
	--color-skyA-7: 197.409326deg 100% 37.843137% / 0.447059;
	--color-skyA-8: 198.219895deg 100% 37.45098% / 0.623529;
	--color-skyA-9: 192.992126deg 100% 49.803922% / 0.513725;
	--color-skyA-10: 193.580247deg 100% 47.647059% / 0.545098;
	--color-skyA-11: 195.949367deg 100% 30.980392% / 1;
	--color-skyA-12: 205.3125deg 100% 12.54902% / 0.886275;
}
:root.dark {
	--color-skyA-1: 224deg 100% 50% / 0.058824;
	--color-skyA-2: 215.384615deg 96.694215% 52.54902% / 0.094118;
	--color-skyA-3: 210.638298deg 97.510373% 52.745098% / 0.2;
	--color-skyA-4: 208.35443deg 100% 53.529412% / 0.286275;
	--color-skyA-5: 205.6deg 98.253275% 55.098039% / 0.364706;
	--color-skyA-6: 205.116279deg 100% 57.843137% / 0.447059;
	--color-skyA-7: 203.033175deg 99.061033% 58.235294% / 0.545098;
	--color-skyA-8: 200.266667deg 99.118943% 55.490196% / 0.662745;
	--color-skyA-9: 192.824427deg 100% 74.313725% / 0.996078;
	--color-skyA-10: 191.724138deg 100% 82.941176% / 1;
	--color-skyA-11: 200.152672deg 100% 74.313725% / 0.937255;
	--color-skyA-12: 191.803279deg 100% 88.039216% / 1;
}
