:root {
	--color-slateA-1: 240deg 100% 16.666667% / 0.011765;
	--color-slateA-2: 240deg 100% 16.666667% / 0.023529;
	--color-slateA-3: 240deg 100% 10% / 0.058824;
	--color-slateA-4: 240deg 100% 8.823529% / 0.090196;
	--color-slateA-5: 229.2deg 100% 9.803922% / 0.121569;
	--color-slateA-6: 240deg 100% 9.215686% / 0.14902;
	--color-slateA-7: 232.173913deg 100% 9.019608% / 0.196078;
	--color-slateA-8: 230deg 100% 9.411765% / 0.27451;
	--color-slateA-9: 229.655172deg 100% 5.686275% / 0.454902;
	--color-slateA-10: 224.444444deg 100% 5.294118% / 0.498039;
	--color-slateA-11: 219deg 100% 3.921569% / 0.623529;
	--color-slateA-12: 206.666667deg 100% 1.764706% / 0.890196;
}
:root.dark {
	--color-slateA-1: 0deg 0% 0% / 0;
	--color-slateA-2: 184deg 62.5% 90.588235% / 0.035294;
	--color-slateA-3: 211.111111deg 65.853659% 91.960784% / 0.078431;
	--color-slateA-4: 197.837838deg 72.54902% 90% / 0.113725;
	--color-slateA-5: 207.567568deg 94.871795% 92.352941% / 0.145098;
	--color-slateA-6: 207.692308deg 90.697674% 91.568627% / 0.188235;
	--color-slateA-7: 208.421053deg 100% 92.54902% / 0.25098;
	--color-slateA-8: 208.421053deg 100% 92.54902% / 0.364706;
	--color-slateA-9: 216deg 88.235294% 93.333333% / 0.427451;
	--color-slateA-10: 220deg 85.714286% 94.509804% / 0.482353;
	--color-slateA-11: 212.307692deg 86.666667% 97.058824% / 0.709804;
	--color-slateA-12: 220deg 100% 99.411765% / 0.937255;
}
