:root {
	--color-slate-1: 240deg 20% 99.019608%;
	--color-slate-2: 240deg 20% 98.039216%;
	--color-slate-3: 240deg 11.111111% 94.705882%;
	--color-slate-4: 240deg 9.52381% 91.764706%;
	--color-slate-5: 230deg 10.714286% 89.019608%;
	--color-slate-6: 240deg 10.144928% 86.470588%;
	--color-slate-7: 233.333333deg 9.89011% 82.156863%;
	--color-slate-8: 230.769231deg 10.23622% 75.098039%;
	--color-slate-9: 230.769231deg 5.936073% 57.058824%;
	--color-slate-10: 226.153846deg 5.394191% 52.745098%;
	--color-slate-11: 220deg 5.882353% 40%;
	--color-slate-12: 210deg 12.5% 12.54902%;
}
:root.dark {
	--color-slate-1: 240deg 5.555556% 7.058824%;
	--color-slate-2: 220deg 5.882353% 10%;
	--color-slate-3: 225deg 5.714286% 13.72549%;
	--color-slate-4: 210deg 7.142857% 16.470588%;
	--color-slate-5: 214.285714deg 7.070707% 19.411765%;
	--color-slate-6: 213.333333deg 7.692308% 22.941176%;
	--color-slate-7: 212.727273deg 7.586207% 28.431373%;
	--color-slate-8: 212deg 7.692308% 38.235294%;
	--color-slate-9: 218.571429deg 6.25% 43.921569%;
	--color-slate-10: 221.538462deg 5.179283% 49.215686%;
	--color-slate-11: 216deg 6.756757% 70.980392%;
	--color-slate-12: 220deg 9.090909% 93.529412%;
}
