:root {
	--color-tealA-1: 165deg 100% 40% / 0.019608;
	--color-tealA-2: 165.176471deg 100% 33.333333% / 0.047059;
	--color-tealA-3: 167.575758deg 100% 38.823529% / 0.121569;
	--color-tealA-4: 166.153846deg 100% 38.235294% / 0.2;
	--color-tealA-5: 168deg 100% 35.294118% / 0.278431;
	--color-tealA-6: 168.072289deg 100% 32.54902% / 0.368627;
	--color-tealA-7: 170.196078deg 100% 30% / 0.486275;
	--color-tealA-8: 172.05298deg 100% 29.607843% / 0.67451;
	--color-tealA-9: 173.164557deg 100% 30.980392% / 0.929412;
	--color-tealA-10: 172.8deg 100% 29.411765% / 0.94902;
	--color-tealA-11: 171.879699deg 100% 26.078431% / 1;
	--color-tealA-12: 172.941176deg 100% 10% / 0.94902;
}
:root.dark {
	--color-tealA-1: 166.216216deg 100% 43.529412% / 0.019608;
	--color-tealA-2: 174.592275deg 96.680498% 52.745098% / 0.047059;
	--color-tealA-3: 174.117647deg 100% 50% / 0.117647;
	--color-tealA-4: 174.823529deg 100% 50% / 0.176471;
	--color-tealA-5: 175.058824deg 100% 50% / 0.231373;
	--color-tealA-6: 173.920705deg 100% 55.490196% / 0.294118;
	--color-tealA-7: 173.913043deg 98.104265% 58.627451% / 0.372549;
	--color-tealA-8: 172.97561deg 100% 59.803922% / 0.458824;
	--color-tealA-9: 173.135593deg 100% 53.72549% / 0.623529;
	--color-tealA-10: 172.31405deg 100% 52.54902% / 0.682353;
	--color-tealA-11: 169.918033deg 99.186992% 51.764706% / 0.839216;
	--color-tealA-12: 163.098592deg 100% 86.078431% / 0.937255;
}
