:root {
	--color-teal-1: 165deg 66.666667% 98.823529%;
	--color-teal-2: 165deg 50% 96.862745%;
	--color-teal-3: 167.5deg 63.157895% 92.54902%;
	--color-teal-4: 166.153846deg 61.904762% 87.647059%;
	--color-teal-5: 168deg 54.347826% 81.960784%;
	--color-teal-6: 168.196721deg 48.031496% 75.098039%;
	--color-teal-7: 170.27027deg 42.528736% 65.882353%;
	--color-teal-8: 171.764706deg 42.14876% 52.54902%;
	--color-teal-9: 173.061224deg 80.327869% 35.882353%;
	--color-teal-10: 172.816901deg 84.52381% 32.941176%;
	--color-teal-11: 171.879699deg 100% 26.078431%;
	--color-teal-12: 173.75deg 64.864865% 14.509804%;
}
:root.dark {
	--color-teal-1: 172.5deg 23.529412% 6.666667%;
	--color-teal-2: 174.545455deg 24.444444% 8.823529%;
	--color-teal-3: 174.375deg 55.172414% 11.372549%;
	--color-teal-4: 175.789474deg 93.442623% 11.960784%;
	--color-teal-5: 175.3125deg 80% 15.686275%;
	--color-teal-6: 173.731343deg 62.616822% 20.980392%;
	--color-teal-7: 173.766234deg 57.894737% 26.078431%;
	--color-teal-8: 172.978723deg 59.493671% 30.980392%;
	--color-teal-9: 173.061224deg 80.327869% 35.882353%;
	--color-teal-10: 172.363636deg 85.492228% 37.843137%;
	--color-teal-11: 170.04878deg 90.30837% 44.509804%;
	--color-teal-12: 162.985075deg 69.072165% 80.980392%;
}
