:root {
	--color-tomatoA-1: 0deg 100% 50% / 0.011765;
	--color-tomatoA-2: 7.529412deg 100% 50% / 0.031373;
	--color-tomatoA-3: 10.530612deg 100% 48.039216% / 0.094118;
	--color-tomatoA-4: 12.470588deg 100% 50% / 0.172549;
	--color-tomatoA-5: 10.823529deg 100% 50% / 0.239216;
	--color-tomatoA-6: 10.843373deg 100% 48.823529% / 0.313725;
	--color-tomatoA-7: 10.38961deg 100% 45.294118% / 0.403922;
	--color-tomatoA-8: 10.136986deg 100% 42.941176% / 0.517647;
	--color-tomatoA-9: 10.224215deg 100% 43.72549% / 0.819608;
	--color-tomatoA-10: 10.046512deg 100% 42.156863% / 0.854902;
	--color-tomatoA-11: 9.95122deg 100% 40.196078% / 0.917647;
	--color-tomatoA-12: 7.714286deg 100% 13.72549% / 0.878431;
}
:root.dark {
	--color-tomatoA-1: 0deg 88.844622% 50.784314% / 0.031373;
	--color-tomatoA-2: 10deg 100% 60% / 0.058824;
	--color-tomatoA-3: 4.909091deg 100% 56.862745% / 0.168627;
	--color-tomatoA-4: 3.813559deg 98.333333% 52.941176% / 0.258824;
	--color-tomatoA-5: 4.886878deg 99.103139% 56.27451% / 0.32549;
	--color-tomatoA-6: 6.934673deg 100% 60.980392% / 0.392157;
	--color-tomatoA-7: 8.715084deg 97.814208% 64.117647% / 0.490196;
	--color-tomatoA-8: 10.568182deg 98.876404% 65.098039% / 0.654902;
	--color-tomatoA-9: 10.243902deg 99.033816% 59.411765% / 0.894118;
	--color-tomatoA-10: 10.76087deg 100% 63.921569% / 0.921569;
	--color-tomatoA-11: 12deg 100% 74.509804% / 1;
	--color-tomatoA-12: 9.795918deg 100% 90.392157% / 0.984314;
}
