:root {
	--color-tomato-1: 0deg 100% 99.411765%;
	--color-tomato-2: 7.5deg 100% 98.431373%;
	--color-tomato-3: 10.434783deg 92% 95.098039%;
	--color-tomato-4: 12.272727deg 100% 91.372549%;
	--color-tomato-5: 10.819672deg 100% 88.039216%;
	--color-tomato-6: 10.769231deg 95.121951% 83.921569%;
	--color-tomato-7: 10.322581deg 82.300885% 77.843137%;
	--color-tomato-8: 10.088496deg 74.834437% 70.392157%;
	--color-tomato-9: 10.163934deg 77.87234% 53.921569%;
	--color-tomato-10: 10.108696deg 73.015873% 50.588235%;
	--color-tomato-11: 9.893617deg 81.73913% 45.098039%;
	--color-tomato-12: 7.868852deg 49.593496% 24.117647%;
}
:root.dark {
	--color-tomato-1: 0deg 17.073171% 8.039216%;
	--color-tomato-2: 10deg 24% 9.803922%;
	--color-tomato-3: 4.864865deg 48.051948% 15.098039%;
	--color-tomato-4: 3.934426deg 64.210526% 18.627451%;
	--color-tomato-5: 5deg 62.068966% 22.745098%;
	--color-tomato-6: 6.923077deg 54.929577% 27.843137%;
	--color-tomato-7: 8.863636deg 49.438202% 34.901961%;
	--color-tomato-8: 10.434783deg 50.218341% 44.901961%;
	--color-tomato-9: 10.163934deg 77.87234% 53.921569%;
	--color-tomato-10: 10.941176deg 81.730769% 59.215686%;
	--color-tomato-11: 12deg 100% 74.509804%;
	--color-tomato-12: 10deg 85.714286% 89.019608%;
}
