:root {
	--color-violet-1: 270deg 50% 99.215686%;
	--color-violet-2: 257.142857deg 100% 98.627451%;
	--color-violet-3: 257.142857deg 87.5% 96.862745%;
	--color-violet-4: 255.555556deg 100% 94.705882%;
	--color-violet-5: 252.631579deg 100% 92.54902%;
	--color-violet-6: 251.538462deg 96.296296% 89.411765%;
	--color-violet-7: 252.1875deg 76.190476% 83.529412%;
	--color-violet-8: 252.289157deg 68.595041% 76.27451%;
	--color-violet-9: 251.900826deg 55.760369% 57.45098%;
	--color-violet-10: 252.10084deg 50.21097% 53.529412%;
	--color-violet-11: 252deg 42.857143% 51.960784%;
	--color-violet-12: 249.473684deg 42.857143% 26.078431%;
}
:root.dark {
	--color-violet-1: 249.230769deg 26.530612% 9.607843%;
	--color-violet-2: 262.5deg 27.586207% 11.372549%;
	--color-violet-3: 256.666667deg 36.734694% 19.215686%;
	--color-violet-4: 255.555556deg 42.1875% 25.098039%;
	--color-violet-5: 254.237288deg 39.072848% 29.607843%;
	--color-violet-6: 254.516129deg 35.632184% 34.117647%;
	--color-violet-7: 253.913043deg 33.014354% 40.980392%;
	--color-violet-8: 252deg 34.136546% 51.176471%;
	--color-violet-9: 251.900826deg 55.760369% 57.45098%;
	--color-violet-10: 252deg 60.209424% 62.54902%;
	--color-violet-11: 252.954545deg 100% 82.745098%;
	--color-violet-12: 249.090909deg 94.285714% 93.137255%;
}
