:root {
	--color-violetA-1: 270deg 100% 33.333333% / 0.011765;
	--color-violetA-2: 257.176471deg 100% 50% / 0.027451;
	--color-violetA-3: 257.142857deg 100% 46.666667% / 0.058824;
	--color-violetA-4: 255.764706deg 100% 50% / 0.105882;
	--color-violetA-5: 252.705882deg 100% 50% / 0.14902;
	--color-violetA-6: 251.713147deg 100% 49.215686% / 0.207843;
	--color-violetA-7: 252deg 99.099099% 43.529412% / 0.290196;
	--color-violetA-8: 252.403846deg 100% 40.784314% / 0.4;
	--color-violetA-9: 251.803279deg 100% 35.882353% / 0.662745;
	--color-violetA-10: 252.280702deg 100% 33.529412% / 0.698039;
	--color-violetA-11: 252.156863deg 100% 30% / 0.686275;
	--color-violetA-12: 249.850746deg 100% 13.137255% / 0.85098;
}
:root.dark {
	--color-violetA-1: 249.230769deg 100% 56.666667% / 0.058824;
	--color-violetA-2: 262.580645deg 93.939394% 61.176471% / 0.086275;
	--color-violetA-3: 256.588235deg 98.837209% 66.27451% / 0.211765;
	--color-violetA-4: 255.348837deg 97.727273% 65.490196% / 0.313725;
	--color-violetA-5: 254.050633deg 97.530864% 68.235294% / 0.372549;
	--color-violetA-6: 254.482759deg 97.315436% 70.784314% / 0.427451;
	--color-violetA-7: 253.880597deg 100% 73.72549% / 0.513725;
	--color-violetA-8: 252.093023deg 98.473282% 74.313725% / 0.658824;
	--color-violetA-9: 251.92053deg 100% 70.392157% / 0.8;
	--color-violetA-10: 251.911765deg 98.550725% 72.941176% / 0.843137;
	--color-violetA-11: 252.954545deg 100% 82.745098% / 1;
	--color-violetA-12: 249.090909deg 100% 93.529412% / 0.996078;
}
