:root {
	--color-yellowA-1: 60deg 100% 33.333333% / 0.023529;
	--color-yellowA-2: 54.344262deg 100% 47.843137% / 0.086275;
	--color-yellowA-3: 56deg 100% 50% / 0.278431;
	--color-yellowA-4: 53.385827deg 100% 50.196078% / 0.419608;
	--color-yellowA-5: 50.117647deg 100% 50% / 0.560784;
	--color-yellowA-6: 48deg 100% 46.078431% / 0.592157;
	--color-yellowA-7: 46deg 100% 41.176471% / 0.596078;
	--color-yellowA-8: 45.074627deg 100% 39.411765% / 0.776471;
	--color-yellowA-9: 52.941176deg 100% 50% / 0.839216;
	--color-yellowA-10: 51.764706deg 100% 50% / 1;
	--color-yellowA-11: 41.012658deg 100% 30.980392% / 1;
	--color-yellowA-12: 41.73913deg 100% 9.019608% / 0.878431;
}
:root.dark {
	--color-yellowA-1: 23.253589deg 100% 40.980392% / 0.015686;
	--color-yellowA-2: 43.373494deg 100% 48.823529% / 0.043137;
	--color-yellowA-3: 40deg 100% 50% / 0.117647;
	--color-yellowA-4: 43.399209deg 100% 49.607843% / 0.156863;
	--color-yellowA-5: 44.173228deg 100% 49.803922% / 0.211765;
	--color-yellowA-6: 46.299213deg 100% 49.803922% / 0.27451;
	--color-yellowA-7: 46.30137deg 98.206278% 56.27451% / 0.360784;
	--color-yellowA-8: 44.926108deg 98.067633% 59.411765% / 0.482353;
	--color-yellowA-9: 52.990654deg 100% 58.039216% / 1;
	--color-yellowA-10: 60deg 100% 67.058824% / 1;
	--color-yellowA-11: 53.038674deg 98.907104% 64.117647% / 0.960784;
	--color-yellowA-12: 52.941176deg 97.142857% 86.27451% / 0.964706;
}
